---
title: Row Grouping
---
{% extends "layouts/_layout.html" %}
{% from "partials/_entry-card.html" import entryCard %}
{% from "partials/_entry-image.html" import entryImg %}

{% block content %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/base16/github.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>

  <script>hljs.highlightAll();</script>

  {# partial example #}
  {% set headerGrey = true %}
  {% include "partials/_header.html" %}

  <div class="main">


    <section class="section docs-page menu-page">
      <div class="container">
        <div class="docs-page__wrapper none">
          <div class="docs-page__search menu-page__search docs-search js-search-documents">
            <div class="docs-search__input">
              <div class="input-field-container">
                <div class="input-field input-field--large">
                  <input
                    id="search"
                    name="search"
                    type="text"
                    class="input input--secondary input-field__input"
                  >
                  <div class="input-icon input-icon--secondary">
                    {{ mixins.icon('search-2') }}
                  </div>
                  <label
                    class="floating-label"
                    for="search"
                  >
                    Search...
                  </label>
                </div>
              </div>
            </div>
            <div class="docs-search__result">
              <div class="result-search-list">
                <div class="search-result-count">450 results</div>
                <div class="search-result-group">
                  <div class="search-result-group__list">
                    <div class="search-item">
                      <div class="search-item__sub-title">JavaScript Data Grid</div>
                      <div class="search-item__title"><span class="is-highlight">R</span>ow Grouping</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="docs-page__breackpints">
            <button class="docs-sidebar__hamburger docs-sidebar-hamburger js-docs-nav-trigger">
                <span class="docs-sidebar-hamburger__icon">
                  <span class="docs-sidebar-hamburger__line"></span>
                  <span class="docs-sidebar-hamburger__line"></span>
                  <span class="docs-sidebar-hamburger__line"></span>
                </span>
                <span class="docs-sidebar-hamburger__text">Menu</span>
              </button>
                <div class="docs-page__breackpints-item">
                    <a href="">JavaScript Data Grid</a>
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.27309 13.977C6.39965 14.1034 6.57121 14.1744 6.75009 14.1744C6.92897 14.1744 7.10053 14.1034 7.22709 13.977L11.7271 9.477C11.8535 9.35044 11.9245 9.17888 11.9245 9C11.9245 8.82113 11.8535 8.64956 11.7271 8.523L7.22709 4.023C7.09913 3.90377 6.92989 3.83886 6.75502 3.84194C6.58015 3.84503 6.4133 3.91587 6.28963 4.03954C6.16596 4.16321 6.09512 4.33006 6.09203 4.50493C6.08895 4.6798 6.15386 4.84904 6.27309 4.977L10.2938 9L6.27309 13.023C6.14668 13.1496 6.07568 13.3211 6.07568 13.5C6.07568 13.6789 6.14668 13.8504 6.27309 13.977Z" fill="#B1B7BB" />
                    </svg>
                </div>
                <div class="docs-page__breackpints-item">
                    <a href="">JavaScript Data Grid</a>
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.27309 13.977C6.39965 14.1034 6.57121 14.1744 6.75009 14.1744C6.92897 14.1744 7.10053 14.1034 7.22709 13.977L11.7271 9.477C11.8535 9.35044 11.9245 9.17888 11.9245 9C11.9245 8.82113 11.8535 8.64956 11.7271 8.523L7.22709 4.023C7.09913 3.90377 6.92989 3.83886 6.75502 3.84194C6.58015 3.84503 6.4133 3.91587 6.28963 4.03954C6.16596 4.16321 6.09512 4.33006 6.09203 4.50493C6.08895 4.6798 6.15386 4.84904 6.27309 4.977L10.2938 9L6.27309 13.023C6.14668 13.1496 6.07568 13.3211 6.07568 13.5C6.07568 13.6789 6.14668 13.8504 6.27309 13.977Z" fill="#B1B7BB" />
                    </svg>
                </div>
                <div class="docs-page__breackpints-item">
                    <a href="">Initiating the custom domain setup</a>
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.27309 13.977C6.39965 14.1034 6.57121 14.1744 6.75009 14.1744C6.92897 14.1744 7.10053 14.1034 7.22709 13.977L11.7271 9.477C11.8535 9.35044 11.9245 9.17888 11.9245 9C11.9245 8.82113 11.8535 8.64956 11.7271 8.523L7.22709 4.023C7.09913 3.90377 6.92989 3.83886 6.75502 3.84194C6.58015 3.84503 6.4133 3.91587 6.28963 4.03954C6.16596 4.16321 6.09512 4.33006 6.09203 4.50493C6.08895 4.6798 6.15386 4.84904 6.27309 4.977L10.2938 9L6.27309 13.023C6.14668 13.1496 6.07568 13.3211 6.07568 13.5C6.07568 13.6789 6.14668 13.8504 6.27309 13.977Z" fill="#B1B7BB" />
                    </svg>
                </div>
          </div>
          <div class="docs-page__inner">
            <div class="docs-page__sidebar">
                {% include "partials/_menu-sidebar.html" %}
              </div>
              <div class="docs-page__content entry-page-content">
                    <div class="docs-page__block">
                        <div class="docs-page__block-title">3. Колонки заголовок + текст</div>
                        <div class="cols__blocks">
                            <div class="cols__block">
                                <div class="cols__block-name">Заголовок</div>
                                <p class="cols__block-text">Proin bibendum eget nisi eu facilisis. Sed et ante pretium, sodales justo a, tempus erat. Duis blandit, ipsum a fringilla tincidunt, erat lacus facilisis urna, nec cursus risus magna ac mi. Proin bibendum eget nisi eu facilisis. Sed et ante pretium, sodales justo a, tempus erat. Duis blandit, ipsum a fringilla tincidunt, erat lacus facilisis urna, nec cursus risus magna ac mi.</p>
                                <a href="#" class="cols__block-link">
                                  Узнать больше <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.58564 6.99992L0.99985 2.41414C0.609325 2.02361 0.609325 1.39045 0.999849 0.999925C1.39037 0.609401 2.02354 0.609401 2.41406 0.999925L8.41406 6.99992L2.41406 12.9999C2.02354 13.3904 1.39037 13.3904 0.999849 12.9999C0.609325 12.6094 0.609325 11.9762 0.999849 11.5857L5.58564 6.99992Z" fill="#00AAAB" />
                                  </svg>
                                </a>
                            </div>
                            <div class="cols__block">
                              <div class="cols__block-name">Двухколоночный блок картинка + текст + опциональная кнопка узнать больше</div>
                              <p class="cols__block-text">Proin bibendum eget nisi eu facilisis. Sed et ante pretium, sodales justo a, tempus erat. Duis blandit, ipsum a fringilla tincidunt, erat lacus facilisis urna, nec cursus risus magna ac mi. Proin bibendum eget nisi eu facilisis. Sed et ante pretium, sodales justo a, tempus erat. Duis blandit, ipsum a fringilla tincidunt, erat lacus facilisis urna, nec cursus risus magna ac mi.</p>
                              <a href="#" class="cols__block-link">
                                Узнать больше <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M5.58564 6.99992L0.99985 2.41414C0.609325 2.02361 0.609325 1.39045 0.999849 0.999925C1.39037 0.609401 2.02354 0.609401 2.41406 0.999925L8.41406 6.99992L2.41406 12.9999C2.02354 13.3904 1.39037 13.3904 0.999849 12.9999C0.609325 12.6094 0.609325 11.9762 0.999849 11.5857L5.58564 6.99992Z" fill="#00AAAB" />
                                </svg>
                              </a>
                          </div>
                        </div>
                        <div class="cols__blocks col-4">
                          <div class="cols__block">
                              <div class="cols__block-name">Заголовок</div>
                              <p class="cols__block-text">Proin bibendum eget nisi eu facilisis. Sed et ante pretium, sodales justo a, tempus erat. Duis blandit, ipsum a fringilla tincidunt, erat lacus facilisis urna, nec cursus risus magna ac mi. Proin bibendum eget nisi eu facilisis. Sed et ante pretium, sodales justo a, tempus erat. Duis blandit, ipsum a fringilla tincidunt, erat lacus facilisis urna, nec cursus risus magna ac mi.</p>
                              <a href="#" class="cols__block-link">
                                Узнать больше <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M5.58564 6.99992L0.99985 2.41414C0.609325 2.02361 0.609325 1.39045 0.999849 0.999925C1.39037 0.609401 2.02354 0.609401 2.41406 0.999925L8.41406 6.99992L2.41406 12.9999C2.02354 13.3904 1.39037 13.3904 0.999849 12.9999C0.609325 12.6094 0.609325 11.9762 0.999849 11.5857L5.58564 6.99992Z" fill="#00AAAB" />
                                </svg>
                              </a>
                          </div>
                          <div class="cols__block">
                            <div class="cols__block-name">Двухколоночный блок картинка + текст + опциональная кнопка узнать больше</div>
                            <p class="cols__block-text">Proin bibendum eget nisi eu facilisis. Sed et ante pretium, sodales justo a, tempus erat. Duis blandit, ipsum a fringilla tincidunt, erat lacus facilisis urna, nec cursus risus magna ac mi. Proin bibendum eget nisi eu facilisis. Sed et ante pretium, sodales justo a, tempus erat. Duis blandit, ipsum a fringilla tincidunt, erat lacus facilisis urna, nec cursus risus magna ac mi.</p>
                            <a href="#" class="cols__block-link">
                              Узнать больше <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.58564 6.99992L0.99985 2.41414C0.609325 2.02361 0.609325 1.39045 0.999849 0.999925C1.39037 0.609401 2.02354 0.609401 2.41406 0.999925L8.41406 6.99992L2.41406 12.9999C2.02354 13.3904 1.39037 13.3904 0.999849 12.9999C0.609325 12.6094 0.609325 11.9762 0.999849 11.5857L5.58564 6.99992Z" fill="#00AAAB" />
                              </svg>
                            </a>
                        </div>
                        <div class="cols__block">
                            <div class="cols__block-name">Заголовок</div>
                            <p class="cols__block-text">Proin bibendum eget nisi eu facilisis. Sed et ante pretium, sodales justo a, tempus erat. Duis blandit, ipsum a fringilla tincidunt, erat lacus facilisis urna, nec cursus risus magna ac mi. Proin bibendum eget nisi eu facilisis. Sed et ante pretium, sodales justo a, tempus erat. Duis blandit, ipsum a fringilla tincidunt, erat lacus facilisis urna, nec cursus risus magna ac mi.</p>
                            <a href="#" class="cols__block-link">
                              Узнать больше <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.58564 6.99992L0.99985 2.41414C0.609325 2.02361 0.609325 1.39045 0.999849 0.999925C1.39037 0.609401 2.02354 0.609401 2.41406 0.999925L8.41406 6.99992L2.41406 12.9999C2.02354 13.3904 1.39037 13.3904 0.999849 12.9999C0.609325 12.6094 0.609325 11.9762 0.999849 11.5857L5.58564 6.99992Z" fill="#00AAAB" />
                              </svg>
                            </a>
                        </div>
                        <div class="cols__block">
                            <div class="cols__block-name">Двухколоночный блок картинка + текст + опциональная кнопка узнать больше</div>
                            <p class="cols__block-text">Proin bibendum eget nisi eu facilisis. Sed et ante pretium, sodales justo a, tempus erat. Duis blandit, ipsum a fringilla tincidunt, erat lacus facilisis urna, nec cursus risus magna ac mi. Proin bibendum eget nisi eu facilisis. Sed et ante pretium, sodales justo a, tempus erat. Duis blandit, ipsum a fringilla tincidunt, erat lacus facilisis urna, nec cursus risus magna ac mi.</p>
                            <a href="#" class="cols__block-link">
                              Узнать больше <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.58564 6.99992L0.99985 2.41414C0.609325 2.02361 0.609325 1.39045 0.999849 0.999925C1.39037 0.609401 2.02354 0.609401 2.41406 0.999925L8.41406 6.99992L2.41406 12.9999C2.02354 13.3904 1.39037 13.3904 0.999849 12.9999C0.609325 12.6094 0.609325 11.9762 0.999849 11.5857L5.58564 6.99992Z" fill="#00AAAB" />
                              </svg>
                            </a>
                        </div>
                      </div>
                      <div class="cols__blocks col-v">
                        <div class="cols__block">
                            <div class="cols__block-name">Заголовок</div>
                            <p class="cols__block-text">Proin bibendum eget nisi eu facilisis. Sed et ante pretium, sodales justo a, tempus erat. Duis blandit, ipsum a fringilla tincidunt, erat lacus facilisis urna, nec cursus risus magna ac mi. Proin bibendum eget nisi eu facilisis. Sed et ante pretium, sodales justo a, tempus erat. Duis blandit, ipsum a fringilla tincidunt, erat lacus facilisis urna, nec cursus risus magna ac mi.</p>
                            <a href="#" class="cols__block-link">
                              Узнать больше <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.58564 6.99992L0.99985 2.41414C0.609325 2.02361 0.609325 1.39045 0.999849 0.999925C1.39037 0.609401 2.02354 0.609401 2.41406 0.999925L8.41406 6.99992L2.41406 12.9999C2.02354 13.3904 1.39037 13.3904 0.999849 12.9999C0.609325 12.6094 0.609325 11.9762 0.999849 11.5857L5.58564 6.99992Z" fill="#00AAAB" />
                              </svg>
                            </a>
                        </div>
                        <div class="cols__block">
                          <div class="cols__block-name">Duis blandit, ipsum a fringilla tincidunt, erat lacus facilisis urna</div>
                          <p class="cols__block-text">Proin bibendum eget nisi eu facilisis. Sed et ante pretium, sodales justo a, tempus erat. Duis blandit, ipsum a fringilla tincidunt, erat lacus facilisis urna, nec cursus risus magna ac mi. Proin bibendum eget nisi eu facilisis. Sed et ante pretium, sodales justo a, tempus erat. Duis blandit, ipsum a fringilla tincidunt, erat lacus facilisis urna, nec cursus risus magna ac mi.</p>
                          <a href="#" class="cols__block-link">
                            Узнать больше <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M5.58564 6.99992L0.99985 2.41414C0.609325 2.02361 0.609325 1.39045 0.999849 0.999925C1.39037 0.609401 2.02354 0.609401 2.41406 0.999925L8.41406 6.99992L2.41406 12.9999C2.02354 13.3904 1.39037 13.3904 0.999849 12.9999C0.609325 12.6094 0.609325 11.9762 0.999849 11.5857L5.58564 6.99992Z" fill="#00AAAB" />
                            </svg>
                          </a>
                      </div>
                      <div class="cols__block">
                          <div class="cols__block-name">Заголовок</div>
                          <p class="cols__block-text">Proin bibendum eget nisi eu facilisis. Sed et ante pretium, sodales justo a, tempus erat. Duis blandit, ipsum a fringilla tincidunt, erat lacus facilisis urna, nec cursus risus magna ac mi. Proin bibendum eget nisi eu facilisis. Sed et ante pretium, sodales justo a, tempus erat. Duis blandit, ipsum a fringilla tincidunt, erat lacus facilisis urna, nec cursus risus magna ac mi.</p>
                          <a href="#" class="cols__block-link">
                            Узнать больше <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M5.58564 6.99992L0.99985 2.41414C0.609325 2.02361 0.609325 1.39045 0.999849 0.999925C1.39037 0.609401 2.02354 0.609401 2.41406 0.999925L8.41406 6.99992L2.41406 12.9999C2.02354 13.3904 1.39037 13.3904 0.999849 12.9999C0.609325 12.6094 0.609325 11.9762 0.999849 11.5857L5.58564 6.99992Z" fill="#00AAAB" />
                            </svg>
                          </a>
                      </div>
                    </div>
                    </div>
              </div>
              <div class="menu-page__nav">
                <div class="menu-page__nav-inner">
                    <div class="menu-page__nav-title">На странице</div>
                    <div class="menu-page__nav-list">
                        <a href="#1" class="menu-page__link active">Initiating the custom domain setup</>
                        <a href="#2" class="menu-page__link">Nam commodo purus id venenatis varius</a>
                        <a href="#3" class="menu-page__link">Row Grouping Customisations</a>
                        <a href="#4" class="menu-page__link">API Reference</a>
                        <a href="#5" class="menu-page__link">Next Up</a>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>

    <button class=" button button--fill button--round back-to-top js-back-to-top">
      {{ mixins.icon('arrow-up') }}
    </button>
  </div>

  {% include "partials/_footer.html" %}

{% endblock %}
