---
title: Row Grouping
---
{% extends "layouts/_layout.html" %}
{% from "partials/_entry-card.html" import entryCard %}
{% from "partials/_entry-image.html" import entryImg %}

{% block content %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/base16/github.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
  
  <script>hljs.highlightAll();</script>

  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"/>


  <script>

Fancybox.bind("[data-fancybox]", {
  transitionEffect: 'fade',
  Thumbs: {
    type: "classic", 
  },
  mobile: true 
});


document.addEventListener("click", function(event) {
  if (event.target.classList.contains("fancybox__backdrop")) {
    Fancybox.close();
  }
});

  </script>


  {# partial example #}
  {% set headerGrey = true %}
  {% include "partials/_header.html" %}

  <div class="main">


    <section class="section docs-page menu-page menu-page-sliders">
      <div class="container">
        <div class="docs-page__wrapper none">
          <div class="docs-page__search menu-page__search docs-search js-search-documents">
            <div class="docs-search__input">
              <div class="input-field-container">
                <div class="input-field input-field--large">
                  <input
                    id="search"
                    name="search"
                    type="text"
                    class="input input--secondary input-field__input"
                  >
                  <div class="input-icon input-icon--secondary">
                    {{ mixins.icon('search-2') }}
                  </div>
                  <label
                    class="floating-label"
                    for="search"
                  >
                    Search...
                  </label>
                </div>
              </div>
            </div>
            <div class="docs-search__result">
              <div class="result-search-list">
                <div class="search-result-count">450 results</div>
                <div class="search-result-group">
                  <div class="search-result-group__list">
                    <div class="search-item">
                      <div class="search-item__sub-title">JavaScript Data Grid</div>
                      <div class="search-item__title"><span class="is-highlight">R</span>ow Grouping</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="docs-page__breackpints">
            <button class="docs-sidebar__hamburger docs-sidebar-hamburger js-docs-nav-trigger">
                <span class="docs-sidebar-hamburger__icon">
                  <span class="docs-sidebar-hamburger__line"></span>
                  <span class="docs-sidebar-hamburger__line"></span>
                  <span class="docs-sidebar-hamburger__line"></span>
                </span>
                <span class="docs-sidebar-hamburger__text">Menu</span>
              </button>
                <div class="docs-page__breackpints-item">
                    <a href="">JavaScript Data Grid</a>
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.27309 13.977C6.39965 14.1034 6.57121 14.1744 6.75009 14.1744C6.92897 14.1744 7.10053 14.1034 7.22709 13.977L11.7271 9.477C11.8535 9.35044 11.9245 9.17888 11.9245 9C11.9245 8.82113 11.8535 8.64956 11.7271 8.523L7.22709 4.023C7.09913 3.90377 6.92989 3.83886 6.75502 3.84194C6.58015 3.84503 6.4133 3.91587 6.28963 4.03954C6.16596 4.16321 6.09512 4.33006 6.09203 4.50493C6.08895 4.6798 6.15386 4.84904 6.27309 4.977L10.2938 9L6.27309 13.023C6.14668 13.1496 6.07568 13.3211 6.07568 13.5C6.07568 13.6789 6.14668 13.8504 6.27309 13.977Z" fill="#B1B7BB" />
                    </svg>
                </div>
                <div class="docs-page__breackpints-item">
                    <a href="">JavaScript Data Grid</a>
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.27309 13.977C6.39965 14.1034 6.57121 14.1744 6.75009 14.1744C6.92897 14.1744 7.10053 14.1034 7.22709 13.977L11.7271 9.477C11.8535 9.35044 11.9245 9.17888 11.9245 9C11.9245 8.82113 11.8535 8.64956 11.7271 8.523L7.22709 4.023C7.09913 3.90377 6.92989 3.83886 6.75502 3.84194C6.58015 3.84503 6.4133 3.91587 6.28963 4.03954C6.16596 4.16321 6.09512 4.33006 6.09203 4.50493C6.08895 4.6798 6.15386 4.84904 6.27309 4.977L10.2938 9L6.27309 13.023C6.14668 13.1496 6.07568 13.3211 6.07568 13.5C6.07568 13.6789 6.14668 13.8504 6.27309 13.977Z" fill="#B1B7BB" />
                    </svg>
                </div>
                <div class="docs-page__breackpints-item">
                    <a href="">Initiating the custom domain setup</a>
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.27309 13.977C6.39965 14.1034 6.57121 14.1744 6.75009 14.1744C6.92897 14.1744 7.10053 14.1034 7.22709 13.977L11.7271 9.477C11.8535 9.35044 11.9245 9.17888 11.9245 9C11.9245 8.82113 11.8535 8.64956 11.7271 8.523L7.22709 4.023C7.09913 3.90377 6.92989 3.83886 6.75502 3.84194C6.58015 3.84503 6.4133 3.91587 6.28963 4.03954C6.16596 4.16321 6.09512 4.33006 6.09203 4.50493C6.08895 4.6798 6.15386 4.84904 6.27309 4.977L10.2938 9L6.27309 13.023C6.14668 13.1496 6.07568 13.3211 6.07568 13.5C6.07568 13.6789 6.14668 13.8504 6.27309 13.977Z" fill="#B1B7BB" />
                    </svg>
                </div>
          </div>
          <div class="docs-page__inner">
            <div class="docs-page__sidebar">
                {% include "partials/_menu-sidebar.html" %}
              </div>
              <div class="docs-page__content entry-page-content">
                    <div class="docs-page__block">
                        <div class="docs-page__block-title">4. Сделать блок с каруселью (картинка + текст + кнопка экшена). Или возможность вкладывать другие блоки в карусель</div>
                        <div class="slider-component">
                          <div class="slider-two-slides">
                            <div class="slider-arrows">
                              <button class="slider-arrows__prev slider-two-slides__prev">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M9.41436 11.9999L14.0002 7.41414C14.3907 7.02361 14.3907 6.39045 14.0002 5.99992C13.6096 5.6094 12.9765 5.6094 12.5859 5.99992L6.58594 11.9999L12.5859 17.9999C12.9765 18.3904 13.6096 18.3904 14.0002 17.9999C14.3907 17.6094 14.3907 16.9762 14.0002 16.5857L9.41436 11.9999Z" fill="white" />
                                </svg>
                              </button>
                              <button class="slider-arrows__next slider-two-slides__next">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M14.5856 11.9999L9.99985 7.41414C9.60933 7.02361 9.60932 6.39045 9.99985 5.99992C10.3904 5.6094 11.0235 5.6094 11.4141 5.99992L17.4141 11.9999L11.4141 17.9999C11.0235 18.3904 10.3904 18.3904 9.99985 17.9999C9.60932 17.6094 9.60932 16.9762 9.99985 16.5857L14.5856 11.9999Z" fill="white" />
                                </svg>
                              </button>
                            </div>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a class="slider-component__img">
                                      <img src="./img/slidercomponent.jpg" alt="">
                                    </a>
                                    <div class="slider-component__content">
                                      <div class="slider-component__title">Заголовок</div>
                                      <p class="slider-component__text">Proin bibendum eget nisi eu facilisis. Sed et ante pretium, sodales justo a, tempus erat</p>
                                    </div>
                                    <div class="slider-component__btn">
                                      {{ button('Join for free', 'button--fill') }}
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                  <a class="slider-component__img">
                                    <img src="./img/slidercomponent.jpg" alt="">
                                  </a>
                                  <div class="slider-component__content">
                                    <div class="slider-component__title">Блок с каруселью (картинка + текст + кнопка экшена)</div>
                                    <p class="slider-component__text">Proin bibendum eget nisi eu facilisis. Sed et ante pretium, sodales justo a, tempus erat</p>
                                  </div>
                                  <div class="slider-component__btn">
                                    {{ button('Join for free', 'button--fill') }}
                                  </div>
                                </div>
                                <div class="swiper-slide">
                                  <a class="slider-component__img">
                                    <img src="./img/slidercomponent.jpg" alt="">
                                  </a>
                                  <div class="slider-component__content">
                                    <div class="slider-component__title">Заголовок</div>
                                    <p class="slider-component__text">Proin bibendum eget nisi eu facilisis. Sed et ante pretium, sodales justo a, tempus erat</p>
                                  </div>
                                  <div class="slider-component__btn">
                                    {{ button('Join for free', 'button--fill') }}
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                <a class="slider-component__img">
                                  <img src="./img/slidercomponent.jpg" alt="">
                                </a>
                                <div class="slider-component__content">
                                  <div class="slider-component__title">Заголовок</div>
                                  <p class="slider-component__text">Proin bibendum eget nisi eu facilisis. Sed et ante pretium, sodales justo a, tempus erat</p>
                                </div>
                                <div class="slider-component__btn">
                                  {{ button('Join for free', 'button--fill') }}
                                </div>
                            </div>
                            <div class="swiper-slide">
                              <a class="slider-component__img">
                                <img src="./img/slidercomponent.jpg" alt="">
                              </a>
                              <div class="slider-component__content">
                                <div class="slider-component__title">Заголовок</div>
                                <p class="slider-component__text">Proin bibendum eget nisi eu facilisis. Sed et ante pretium, sodales justo a, tempus erat</p>
                              </div>
                              <div class="slider-component__btn">
                                {{ button('Join for free', 'button--fill') }}
                              </div>
                          </div>
                            </div>
                        </div>
                        </div>
                        <div class="slider-component">
                          <div class="slider-one-slide">
                            <div class="slider-arrows">
                              <button class="slider-arrows__prev slider-one-slide__prev">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M9.41436 11.9999L14.0002 7.41414C14.3907 7.02361 14.3907 6.39045 14.0002 5.99992C13.6096 5.6094 12.9765 5.6094 12.5859 5.99992L6.58594 11.9999L12.5859 17.9999C12.9765 18.3904 13.6096 18.3904 14.0002 17.9999C14.3907 17.6094 14.3907 16.9762 14.0002 16.5857L9.41436 11.9999Z" fill="white" />
                                </svg>
                              </button>
                              <button class="slider-arrows__next slider-one-slide__next">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M14.5856 11.9999L9.99985 7.41414C9.60933 7.02361 9.60932 6.39045 9.99985 5.99992C10.3904 5.6094 11.0235 5.6094 11.4141 5.99992L17.4141 11.9999L11.4141 17.9999C11.0235 18.3904 10.3904 18.3904 9.99985 17.9999C9.60932 17.6094 9.60932 16.9762 9.99985 16.5857L14.5856 11.9999Z" fill="white" />
                                </svg>
                              </button>
                            </div>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="slider-component__img">
                                      <img src="./img/slidercomponent.jpg" alt="">
                                    </div>
                                    <div class="slider-component__content">
                                      <div class="slider-component__title">Заголовок</div>
                                      <p class="slider-component__text">Proin bibendum eget nisi eu facilisis. Sed et ante pretium, sodales justo a, tempus erat</p>
                                    </div>
                                    <div class="slider-component__btn">
                                      {{ button('Join for free', 'button--fill') }}
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                  <div class="slider-component__img">
                                    <img src="./img/slidercomponent.jpg" alt="">
                                  </div>
                                  <div class="slider-component__content">
                                    <div class="slider-component__title">Блок с каруселью (картинка + текст + кнопка экшена)</div>
                                    <p class="slider-component__text">Proin bibendum eget nisi eu facilisis. Sed et ante pretium, sodales justo a, tempus erat</p>
                                  </div>
                                  <div class="slider-component__btn">
                                    {{ button('Join for free', 'button--fill') }}
                                  </div>
                                </div>
                                <div class="swiper-slide">
                                  <div class="slider-component__img">
                                    <img src="./img/slidercomponent.jpg" alt="">
                                  </div>
                                  <div class="slider-component__content">
                                    <div class="slider-component__title">Заголовок</div>
                                    <p class="slider-component__text">Proin bibendum eget nisi eu facilisis. Sed et ante pretium, sodales justo a, tempus erat</p>
                                  </div>
                                  <div class="slider-component__btn">
                                    {{ button('Join for free', 'button--fill') }}
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="slider-component__img">
                                  <img src="./img/slidercomponent.jpg" alt="">
                                </div>
                                <div class="slider-component__content">
                                  <div class="slider-component__title">Заголовок</div>
                                  <p class="slider-component__text">Proin bibendum eget nisi eu facilisis. Sed et ante pretium, sodales justo a, tempus erat</p>
                                </div>
                                <div class="slider-component__btn">
                                  {{ button('Join for free', 'button--fill') }}
                                </div>
                            </div>
                            <div class="swiper-slide">
                              <div class="slider-component__img">
                                <img src="./img/slidercomponent.jpg" alt="">
                              </div>
                              <div class="slider-component__content">
                                <div class="slider-component__title">Заголовок</div>
                                <p class="slider-component__text">Proin bibendum eget nisi eu facilisis. Sed et ante pretium, sodales justo a, tempus erat</p>
                              </div>
                              <div class="slider-component__btn">
                                {{ button('Join for free', 'button--fill') }}
                              </div>
                          </div>
                            </div>
                        </div>
                        </div>
                        <div class="slider-component thumbnailsslider">
                          <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                            <div class="swiper-wrapper">
                              <div href="./img/imagetext.jpg" data-fancybox="gallery" class="swiper-slide">
                                <img src="./img/imagetext.jpg" />
                              </div>
                              <div href="./img/imagetext.jpg" data-fancybox="gallery" class="swiper-slide">
                                <img src="./img/imagetext.jpg" />
                              </div>
                              <div href="./img/imagetext.jpg" data-fancybox="gallery" class="swiper-slide">
                                <img src="./img/imagetext.jpg" />
                              </div>
                              <div href="./img/imagetext.jpg" data-fancybox="gallery" class="swiper-slide">
                                <img src="./img/imagetext.jpg" />
                              </div>
                              <div href="./img/imagetext.jpg" data-fancybox="gallery" class="swiper-slide">
                                <img src="./img/imagetext.jpg" />
                              </div>
                              <div href="./img/imagetext.jpg" data-fancybox="gallery" class="swiper-slide">
                                <img src="./img/imagetext.jpg" />
                              </div>
                              <div href="./img/imagetext.jpg" data-fancybox="gallery" class="swiper-slide">
                                <img src="./img/imagetext.jpg" />
                              </div>
                              <div href="./img/imagetext.jpg" data-fancybox="gallery" class="swiper-slide">
                                <img src="./img/imagetext.jpg" />
                              </div>
                              <div href="./img/imagetext.jpg" data-fancybox="gallery" class="swiper-slide">
                                <img src="./img/imagetext.jpg" />
                              </div>
                              <div href="./img/imagetext.jpg" data-fancybox="gallery" class="swiper-slide">
                                <img src="./img/imagetext.jpg" />
                              </div>
                            </div>
                            <div class="slider-arrows">
                              <button class="slider-arrows__prev swiperthumbs__prev">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M9.41436 11.9999L14.0002 7.41414C14.3907 7.02361 14.3907 6.39045 14.0002 5.99992C13.6096 5.6094 12.9765 5.6094 12.5859 5.99992L6.58594 11.9999L12.5859 17.9999C12.9765 18.3904 13.6096 18.3904 14.0002 17.9999C14.3907 17.6094 14.3907 16.9762 14.0002 16.5857L9.41436 11.9999Z" fill="white" />
                                </svg>
                              </button>
                              <button class="slider-arrows__next swiperthumbs__next">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M14.5856 11.9999L9.99985 7.41414C9.60933 7.02361 9.60932 6.39045 9.99985 5.99992C10.3904 5.6094 11.0235 5.6094 11.4141 5.99992L17.4141 11.9999L11.4141 17.9999C11.0235 18.3904 10.3904 18.3904 9.99985 17.9999C9.60932 17.6094 9.60932 16.9762 9.99985 16.5857L14.5856 11.9999Z" fill="white" />
                                </svg>
                              </button>
                            </div>
                          </div>
                          <div thumbsSlider="" class="swiper mySwiper">
                            <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                <img src="./img/imagetext.jpg" />
                              </div>
                              <div class="swiper-slide">
                                <img src="./img/imagetext.jpg" />
                              </div>
                              <div class="swiper-slide">
                                <img src="./img/imagetext.jpg" />
                              </div>
                              <div class="swiper-slide">
                                <img src="./img/imagetext.jpg" />
                              </div>
                              <div class="swiper-slide">
                                <img src="./img/imagetext.jpg" />
                              </div>
                              <div class="swiper-slide">
                                <div href="./img/imagetext.jpg" data-fancybox="gallery" class="swiper-slide__vieww">
                                  5+
                               </div>
                              </div>
                              <div class="swiper-slide">
                                <img src="./img/imagetext.jpg" />
                              </div>
                              <div class="swiper-slide">
                                <img src="./img/imagetext.jpg" />
                              </div>
                              <div class="swiper-slide">
                                <img src="./img/imagetext.jpgg" />
                              </div>
                              <div class="swiper-slide">
                                <img src="./img/imagetext.jpg" />
                              </div>
                              <div class="swiper-slide">
                                <img src="./img/imagetext.jpg" />
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
              </div>
              <div class="menu-page__nav">
                <div class="menu-page__nav-inner">
                    <div class="menu-page__nav-title">На странице</div>
                    <div class="menu-page__nav-list">
                        <a href="#1" class="menu-page__link active">Initiating the custom domain setup</>
                        <a href="#2" class="menu-page__link">Nam commodo purus id venenatis varius</a>
                        <a href="#3" class="menu-page__link">Row Grouping Customisations</a>
                        <a href="#4" class="menu-page__link">API Reference</a>
                        <a href="#5" class="menu-page__link">Next Up</a>
                    </div>
                </div>
              </div>
          </div>
          <section class="recommendations">
            <div class="recommendations__top">
                <div class="recommendations__title">Читайте также</div>
                <div class="recommendations__buttons">
                    <button class="recommendations__prev">
                        <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.41436 6.99992L8.00015 2.41414C8.39067 2.02361 8.39068 1.39045 8.00015 0.999925C7.60963 0.609401 6.97646 0.609401 6.58594 0.999925L0.585938 6.99992L6.58594 12.9999C6.97646 13.3904 7.60963 13.3904 8.00015 12.9999C8.39068 12.6094 8.39068 11.9762 8.00015 11.5857L3.41436 6.99992Z" fill="white" />
                          </svg>
                    </button>
                    <button class="recommendations__next">
                        <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.58564 6.99992L0.99985 2.41414C0.609325 2.02361 0.609325 1.39045 0.999849 0.999925C1.39037 0.609401 2.02354 0.609401 2.41406 0.999925L8.41406 6.99992L2.41406 12.9999C2.02354 13.3904 1.39037 13.3904 0.999849 12.9999C0.609325 12.6094 0.609325 11.9762 0.999849 11.5857L5.58564 6.99992Z" fill="white" />
                          </svg>
                    </button>
                </div>
            </div>
            <div class="recommendations__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="recommendations__img">
                            <img src="./img/imagetext.jpg" alt="">
                        </div>
                        <div class="recommendations__name">
                            Business
                        </div>
                        <p class="recommendations__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </p>
                    </div>
                    <div class="swiper-slide">
                        <div class="recommendations__img">
                            <img src="./img/imagetext.jpg" alt="">
                        </div>
                        <div class="recommendations__name">
                            Business
                        </div>
                        <p class="recommendations__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </p>
                    </div>
                    <div class="swiper-slide">
                        <div class="recommendations__img">
                            <img src="./img/imagetext.jpg" alt="">
                        </div>
                        <div class="recommendations__name">
                            Business
                        </div>
                        <p class="recommendations__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </p>
                    </div>
                    <div class="swiper-slide">
                        <div class="recommendations__img">
                            <img src="./img/imagetext.jpg" alt="">
                        </div>
                        <div class="recommendations__name">
                            Business
                        </div>
                        <p class="recommendations__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </p>
                    </div>
                    <div class="swiper-slide">
                        <div class="recommendations__img">
                            <img src="./img/imagetext.jpg" alt="">
                        </div>
                        <div class="recommendations__name">
                            Business
                        </div>
                        <p class="recommendations__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </p>
                    </div>
                </div>
              </div>
          </section>
        </div>
      </div>
    </section>

    <button class=" button button--fill button--round back-to-top js-back-to-top">
      {{ mixins.icon('arrow-up') }}
    </button>
  </div>

  {% include "partials/_footer.html" %}

{% endblock %}
