.docs-page {
    padding-top: 15px;
    padding-bottom: 50px;

    @include r(599) {
        padding-top: 6px;
        padding-bottom: 30px;
        overflow: hidden;
    }

    &__wrapper {
        display: grid;
        grid-template-rows: 62px auto;
        grid-template-columns: clamp(300px, 23vw, 400px) 1fr;
        gap: 50px 35px;

        @include r(1068) {
            grid-template-columns: 1fr 1fr;
            gap: 35px 12px;
        }

        &.none {
            display: block;
        }
    }

    &__inner {
        display: flex;
        gap: 38px;

        // align-items: flex-start;
        @media (max-width: 962px) {
            display: block;
        }
    }

    &__search {
        grid-row: 1;
        grid-column: span 2;

        &.menu-page__search {
            margin-bottom: 1.5rem;
        }

        @include r(1068) {
            grid-column: 1;
        }
    }

    &__breackpints {
        display: flex;
        flex-wrap: wrap;
        gap: .3rem .5rem;
        margin-bottom: 3rem;

        @include r(1024) {
            display: inline-flex;
            margin-bottom: 0;
        }
    }

    &__breackpints-item {
        display: flex;
        gap: .9rem;
        align-items: center;

        &:last-child {
            svg {
                display: none;
            }

            a {
                color: #270082;
            }
        }

        a {
            color: #000;

            @include r(599) {
                font-size: .75rem;
            }
        }

        @include r(962) {
            display: inline-flex;
            gap: .3rem;
        }
    }

    &__sidebar {
        @include r(1068) {
            grid-column: 1;
        }
    }

    &__content {
        overflow: hidden;

        @include r(1068) {
            grid-column: span 2;
            overflow: visible;
        }
    }

    .entry-page-content__content {
        margin-bottom: 0;
    }

    .entry-page-content__header {
        max-width: 100%;
    }

    .entry-page-content__title {
        margin-bottom: 6px;
    }

    .entry-page-content__anchors {
        @include rmin(899.1) {
            column-count: 3;
        }
    }

    .entry-content > * {
        max-width: 984px;
        margin-bottom: 20px;

        @include r(899) {
            margin-bottom: 15px;
        }
    }

    .layout-default > .entry-image:not(.entry-image--left) {
        @include rmin(899.1) {
            margin-top: 30px;
        }
    }

    .layout-heading {
        margin-top: 70px !important;
        margin-bottom: 10px;

        @include r(899) {
            margin-top: 40px !important;
        }
    }

    h2,
    h3,
    h4,
    h5 {
        color: $secondary;
    }
}

.docs-sidebar {
    position: relative;
    height: 100%;
    transition: all .3s;

    @include r(1024) {
        max-height: 0;
        margin-bottom: 1.875rem;
        overflow: hidden;

        &.is-active {
            max-height: 100%;
            margin-top: 1rem;
            transition: all .3s;

            .docs-sidebar__list {
                position: static;
                width: 100%;
            }
        }
    }

    .docs-nav-item + .docs-nav-item {
        @include rmin(1068.1) {
            margin-top: -3px;
        }
    }

    &__sticky {
        @include rmin(1068.1) {
            position: sticky;
            top: 20px;
            max-height: calc(100vh - 22px);

            // @include scrollbars($thumb-color: $secondary, $size: 0.5, $border-radius: 1px);
            padding-right: .3rem;
            padding-bottom: 2px;
            overflow: auto;
        }

        &::-webkit-scrollbar {
            width: .15rem;
        }

        &::-webkit-scrollbar-track {
            background: #e1e1e1;
        }

        &::-webkit-scrollbar-thumb {
            background: #5317a6 !important;
        }
    }

    &__list {
        position: relative;
        padding-top: 2px;
        background-color: #fff;

        @include r(1068) {
            position: absolute;
            top: calc(100% + 4px);
            left: 0;
            z-index: 1;
            display: none;
            width: 100%;

            // margin: 0 15px;
            padding: 15px 10px;
            box-shadow: 0 15px 32px 0 rgba(0, 0, 0, .12);
        }

        @include r(899) {
            top: calc(100% + 34px);
            left: -15px;
            width: 100vw;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 4px;
            left: 4px;
            height: 2px;
            background: linear-gradient(270deg, #29d9bb 0%, #3a0ca3 64.06%, #270082 100%);

            @include r(899) {
                right: 15px;
                left: 15px;
            }
        }
    }

    &__hamburger {
        @include rmin(1068.1) {
            display: none;
        }
    }

    .gradient-button:before {
        @include r(1068) {
            transform: scaleY(.02);
            transform-origin: center bottom;
        }
    }
}

.docs-sidebar-hamburger {
    display: flex;
    display: inline-flex;
    gap: .5rem;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 100%;
    padding: 6px 9px;
    font-size: 12px;
    font-family: $font;
    color: #fff;
    background-color: $primary;
    border-radius: 4px;
    transition: background-color .2s ease;

    @include any-hover {
        background-color: $primary-hover;
    }

    &.is-active {
        .docs-sidebar-hamburger__line:nth-child(1) {
            top: 7px;
            transform: rotate(45deg);
            transform-origin: center center;
        }

        .docs-sidebar-hamburger__line:nth-child(2) {
            top: 7px;
            transform: rotate(135deg);
            transform-origin: center center;
        }

        .docs-sidebar-hamburger__line:nth-child(3) {
            width: 0;
            transform: rotate(-15deg) translateX(8px) translateY(-3px);
            transform-origin: 100% 100%;
            opacity: 0;
        }
    }

    &__icon {
        position: relative;
        width: 20px;
        height: 16px;
    }

    &__line {
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background: #fff;
        transition: all .25s ease-in-out;

        &:nth-child(1) {
            top: .2rem;
        }

        &:nth-child(2) {
            top: .51rem;
            transform-origin: 100% 50%;
        }

        &:nth-child(3) {
            top: .8rem;
        }
    }
}

.docs-sidebar-hamburger__icon {
    display: inline-block;
    width: 15px;
    height: 15px;
}

.docs-nav-item {
    margin-top: -3px;

    &.is-active {
        .docs-nav-item__icon {
            transform: unset;
        }

        &.docs-nav-item--has-child .docs-nav-item__child {
            display: grid;
        }
    }

    &__inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between !important;
        padding: 20px 5px 20px 20px;
    }

    &__icon {
        display: none;
        align-items: center;
        justify-content: center;
        transform: rotate(180deg);
        transition: transform .2s ease;

        svg {
            width: 24px;
            height: 24px;
            fill: currentcolor;
        }
    }

    &__child {
        display: none;
        gap: 16px;
        padding: 20px 0 20px 27px;
    }

    &--has-child {
        .docs-nav-item__icon {
            display: flex;
        }
    }
}

.docs-nav-item-group {
    &__title {
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 18px;
        line-height: normal;
        color: #4906a5;
    }

    &__list {
        display: grid;
        gap: 16px;
        padding-left: 12px;
    }

    .is-active {
        font-style: italic;
        text-decoration: underline;
    }
}

.menu-page {
    .docs-page__sidebar {
        width: 17.5rem;
    }

    .entry-content h2 {
        font-size: 1.5rem;
    }

    .docs-sidebar__list:before {
        display: none;
    }

    .docs-page__sidebar {
        @media (max-width: 962px) {
            width: 100%;
        }
    }

    .docs-sidebar__list {
        margin-top: 0;
    }

    .docs-sidebar__sticky {
        top: 30px;
    }

    .entry-page-content__hsh {
        display: flex;
        gap: .75rem;
        margin-bottom: .938rem;

        a {
            font-size: .875rem;
            color: #5317a6;
        }
    }

    .layout-heading {
        margin-top: 2rem !important;
    }

    .layout-default {
        &:nth-child(2) {
            p {
                font-size: 1.125rem;
            }
        }

        &:nth-child(3) {
            margin-bottom: 0;

            p {
                font-size: 1rem;
            }
        }

        &:nth-child(4) {
            margin-bottom: 0;
        }

        p {
            font-size: 1.19rem;
        }
    }

    .layout-code {
        margin-bottom: 2rem !important;
    }

    .docs-page__content {
        width: 46.875rem;

        @media (max-width: 962px) {
            width: 100%;
        }
    }

    .entry-page-content__title {
        font-size: 2.625rem;

        @media (max-width: 962px) {
            font-size: 2rem;
        }
    }

    &__nav {
        position: relative;

        @media (max-width: 962px) {
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 77;
            width: 100%;
            margin-left: 0;
            background-color: #fff;
        }
    }

    &__nav-inner {
        position: sticky;
        top: 30px;
        width: 15.625rem;
        max-height: calc(100vh - 22px);
        margin-right: 12px;
        padding: .94rem;
        border: 1px solid rgba(111, 115, 118, .2);
        border-radius: .5rem;

        @media (max-width: 962px) {
            width: 100%;
            max-width: 100vw;
            margin-right: 0;
            padding: 0;
            overflow: auto;
            &::-webkit-scrollbar{
                display: none;
            }
        }
    }

    &__nav-list {
        @media (max-width: 962px) {
            display: flex;
            max-width: 100vw;
            overflow: auto;
            &::-webkit-scrollbar{
                display: none;
            }
        }
    }

    &__nav-title {
        margin-bottom: .625rem;
        font-weight: 600;
        font-size: .88rem;

        @media (max-width: 962px) {
            display: none;
        }
    }

    &__link {
        position: relative;
        display: block;
        margin-bottom: .625rem;
        font-size: .875rem;
        color: #444648;

        @media (max-width: 962px) {
            min-width: 13rem;
            margin-bottom: 0;
            padding: 1rem 1.5rem;
            color: #444648;
            border-right: .1rem solid #e1e1e1;

            &.active {
                text-decoration: none;

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 80%;
                    height: .2rem;
                    background: linear-gradient(270deg, #29d9bb 0, #3a0ca3 64.06%, #270082 100%);
                    transform: translateX(-50%);
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.active {
            color: #5317a6;
            text-decoration: underline;
            text-underline-offset: .2rem;
        }
    }
}

.menu-page .menu-sidebar {
    .docs-sidebar__stick {
        overflow: auto !important;
    }

    &__arrows {
        display: flex;
        gap: .75rem;
        align-items: center;
    }

    &__link-category {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.25rem;
        height: 1.938rem;
        background-color: #f0f0f0;
        border-radius: .25rem;
        transition: all .3s;

        &:hover {
            background-color: #6800f0;
            transition: all .3s;

            svg path {
                transition: all .3s;
                fill: #fff !important;
            }
        }

        svg {
            width: .375rem !important;
            height: .688rem !important;
            transform: none !important;
            transition: all .3s;
        }
    }

    .docs-sidebar__stick::-webkit-scrollbar {
        width: 2px;
        height: 2rem;
    }

    .docs-sidebar__sticky::-webkit-scrollbar-thumb {
        width: 2px;
        height: 2rem;
        background-color: #29d9bb;
    }

    .docs-sidebar__list {
        display: flex;
        flex-direction: column;
        gap: 1.1rem;

        @media (max-width: 962px) {
            gap: 0;
            padding: 0;
        }
    }

    &__item {
        position: relative;
        display: block;
        width: 100%;

        @media (max-width: 962px) {
            position: relative;
            padding: .3rem 0;

            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 3px;
                background: linear-gradient(270deg, #29d9bb 0, #3a0ca3 64.06%, #270082 100%);
            }

            &:first-child {
                padding: .3rem 0;

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background: linear-gradient(270deg, #29d9bb 0, #3a0ca3 64.06%, #270082 100%);
                }
            }
        }

        .menu-sidebar__item-top {
            cursor: pointer;

            &.open-category {
                padding-bottom: .5rem !important;

                @media (max-width: 1024px) {
                    padding-bottom: 0 !important;
                }

                .menu-sidebar__cetegory-link {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 1.88rem;
                    margin-right: .25rem;
                    padding-left: .4rem;
                    color: #fff;
                    background: linear-gradient(235deg, rgba(170, 135, 219, .4) 0%, #5317a6 100%);
                    border-radius: .25rem;
                }

                .menu-sidebar__arrows a {
                    background-color: #f0f0f0 !important;
                    opacity: .5;
                    filter: grayscale(80%);
                }

                .menu-sidebar__arrows a svg path {
                    fill: #000 !important;
                }
            }
        }

        .menu-sidebar__item-top {
            &.nav-open {
                padding-bottom: .3rem;
                font-weight: 500;
                color: #5317a6;

                svg {
                    transform: rotate(180deg);
                    transition: all .3s;
                }

                svg path {
                    fill: #5317a6;
                }
            }
        }
    }

    &__subitem-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1rem;
        color: #000;
        cursor: pointer;

        svg {
            min-width: 1.1rem;
            min-height: 1.1rem;
            transition: all .3s;
        }
    }

    &__item-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1rem;

        svg {
            width: 1.1rem;
            height: 1.1rem;
            transition: all .3s;
        }
    }

    &__item-content {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        max-height: 0;
        overflow: hidden;
        transition: all .3s;
    }

    &__subitem-content {
        max-height: 0;
        padding-top: .5rem;
        overflow: hidden;

        .menu-sidebar__subitem {
            position: relative;

            &:nth-child(1) {
                padding-bottom: .7rem;
            }
        }
    }

    &__subitem-link {
        color: #000;
    }

    &__subitem-top {
        gap: 1rem;

        @media (max-width: 1024px) {
            gap: 0;
        }

        &.open-subcategory {
            display: flex;
            align-items: center;
            width: 100%;
            height: 2rem;
            padding-left: .35rem;
            color: #fff;
            background: linear-gradient(235deg, rgba(170, 135, 219, .4) 0%, #5317a6 100%);
            border-radius: .25rem;

            a {
                color: #fff;
            }
        }
    }

    &__subitem {
        &.open {
            transition: all .3s;

            .menu-sidebar__subitem-top {
                font-weight: 500;
            }

            .menu-sidebar__subitem-content {
                border-left: .1rem solid #c6cfd7;

                .menu-sidebar__subitem {
                    &:nth-child(1) {
                        padding-left: 1rem;
                    }
                }

                &.second-nesting {
                    padding-left: 1rem;
                }

                &.third-nesting {
                    padding-left: .7rem;
                }

                &.four-nesting {
                    padding-left: .7rem;
                }
            }
        }
    }

    .menu-sidebar__subitem-top {
        &.sub-open {
            color: #5317a6;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            transition: all .3s;

            svg {
                transform: rotate(180deg);
                transition: all .3s ease-in-out;
            }

            svg path {
                fill: #5317a6;
            }
        }

        &.nesting-link {
            font-weight: 400;
            color: #4d545a;
        }
    }

    &__link-sub {
        display: block;
        margin-bottom: .8rem;
        color: #4d545a;

        &:last-child {
            margin-bottom: .3rem;
            font-size: .875rem;
        }

        &.active {
            padding: .3rem;
            font-size: 1rem;
            color: #fff;
            background: linear-gradient(235deg, rgba(170, 135, 219, .4) 0%, #5317a6 100%);
            border-radius: .3rem;
        }
    }
}

@media only screen and (min-width: 1068.1px) {
    // .docs-sidebar__sticky::-webkit-scrollbar {
    //     width: 0.1rem !important;
    //     height: 0.1rem !important;
    // }
}

.plugin {
    &__wrapper {
        display: flex;
        gap: 2.5rem;

        @media (max-width: 962px) {
            flex-direction: column;
            gap: 1.563rem;
        }
    }

    &__img {
        width: 17.875rem;
        height: 24.75rem;

        @media (max-width: 962px) {
            width: 100%;
            height: 60.25rem;
        }

        @media (max-width: 600px) {
            width: 100%;
            height: 30.25rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
        }
    }

    &__title {
        margin-bottom: 1.25rem;
        font-size: 2.62rem;
        color: #5317a6;

        @media (max-width: 962px) {
            margin-bottom: .6rem;
            font-weight: 600;
            font-size: 1.5rem;
        }
    }

    &__text {
        display: flex;
        gap: .5rem;
        margin-bottom: .625rem;
        font-size: 1.125rem;
        color: #444648;

        @media (max-width: 962px) {
            display: block;
            font-size: 1.15rem;
        }

        a {
            display: flex;
            gap: .3rem;
            align-items: center;
            color: #00aaab;

            @media (max-width: 962px) {
                display: inline;
                margin-left: .6rem;
            }

            &:hover {
                color: #00aaab;
            }

            svg {
                margin-right: .6rem;
            }
        }
    }

    &__block-title {
        margin-bottom: .625rem;
        font-weight: 700;
        font-size: 1.125rem;
    }

    &__block-item {
        position: relative;
        margin-bottom: .6rem;
        padding-left: 1rem;
        font-size: 1.125rem;

        &:before {
            content: "";
            position: absolute;
            top: .7rem;
            left: 0;
            width: .313rem;
            height: .313rem;
            background-color: #00aaab;
            border-radius: 50%;
        }

        a {
            align-items: center;
            color: #00aaab;

            &:hover {
                color: #00aaab;
            }
        }
    }

    &__block-wrapper {
        position: relative;
        margin-bottom: 1rem;
        padding-bottom: 1rem;

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: .2rem;
            background: linear-gradient(270deg, #29d9bb 0%, #3a0ca3 64.06%, #270082 100%);

            @include r(899) {
                right: 15px;
                left: 15px;
            }
        }
    }

    &__download {
        position: relative;
        display: inline;
        width: auto;
        padding: 0;
        font-size: 1.3rem;
        color: #fff;
        background-color: #00aaab;
        border-radius: .3rem;

        @media (max-width: 962px) {
            width: 100%;

            button {
                min-width: 100%;
            }
        }
    }
}

.menu-page--none {
    .docs-page__content {
        width: 100%;
    }

    .docs-sidebar__hamburger {
        display: none;
    }

    .docs-page__sidebar {
        display: none;
    }

    .menu-page__nav {
        display: none;
    }

    .plugin {
        &__img {
            width: 24.62rem;
            height: 36.12rem;
            border-radius: .62rem;

            @include r(899) {
                width: 100%;
                height: 30.25rem;
            }
        }

        &__wrapper {
            gap: 3.75rem;

            @include r(899) {
                gap: 1.563rem;
            }
        }

        &__title {
            margin-bottom: 2.188rem;
            font-size: 3.38rem;

            @include r(899) {
                margin-bottom: .7rem;
                font-size: 1.5rem;
            }
        }

        &__text {
            font-size: 1.25rem;

            @include r(899) {
                font-size: 1.25rem;
            }
        }

        &__content {
            width: 60rem;

            @include r(899) {
                width: 100%;
            }
        }

        &__block-item {
            font-size: 1.25rem;

            @include r(899) {
                font-size: 1.25rem;
            }
        }

        &__block-wrapper {
            margin-bottom: 1.25rem;
            padding-bottom: 2.188rem;

            @include r(899) {
                padding-bottom: 0;
            }
        }

        .docs-sidebar__list:before,
        .plugin__block-wrapper:before {
            @include r(899) {
                display: none;
            }
        }
    }
}

.docs-page {
    &__block-title {
        margin-bottom: 1.563rem;
        font-weight: 500;
        font-size: 1.5rem;
        color: #5317a6;

        @include r(600) {
            font-size: 1.2rem;
        }
    }

    &__block-text-img {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4.625rem;
    }

    &__block-img-text {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 3.688rem;
    }

    &__block-img-text-center {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3.688rem;

        .docs-page__block-img {
            width: 23rem;
            height: auto;

            img {
                object-fit: cover;
            }
        }
    }

    &__block-img-text-big {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        margin-bottom: 3.688rem;

        .docs-page__block-img {
            width: 100%;
            height: 28.75rem;
            margin-bottom: 2.5rem;

            img {
                object-fit: cover;
            }
        }

        .docs-page__block-content {
            width: 100%;
        }
    }
    
    &__block-img-text-none {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        @include r(1024) {
            gap: 0;
            .docs-page__block-img{
                margin-bottom: 0.6rem !important;
            }
        }
        .docs-page__block-img {
            width: 100%;
            height: 28.75rem;
            margin-bottom: .938rem;

            img {
                object-fit: cover;
            }
        }

        .docs-page__block-content {
            width: 100%;
        }

        .docs-page__block-name {
            display: none;
        }

        .docs-page__block-tex {
            font-size: .88rem;
        }
    }

    &__block-img {
        width: 23rem;
        height: 13.625rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
        }
    }

    &__block-content {
        width: 21.75rem;
    }

    &__block-name {
        margin-bottom: .7rem;
        font-weight: 500;
        font-size: 2rem;
        color: #5317a6;
    }

    &__block-text {
        font-size: 1.12rem;
        color: #444648;
    }
}

.page-inblock {
    @include r(1024) {
        flex-direction: column-reverse;
        margin-bottom: 2.813rem;

        .docs-page__block-title {
            margin-bottom: 1.875rem;
            font-size: 1.125rem;
        }

        .docs-page__block-img {
            width: 100%;
            height: 30rem;
            margin-bottom: 1.25rem;

            @include r(600) {
                height: 13rem;
            }
        }

        .docs-page__block-name {
            font-weight: 600;
            font-size: 1.6rem;
        }

        .docs-page__block-content {
            width: 100%;
            margin-bottom: 1.25rem;
        }

        .docs-page__block-text {
            font-size: 1rem;
        }

        &.docs-page__block-itn {
            .docs-page__block-img {
                margin-bottom: .75rem;
            }
        }

        &.docs-page__block-itc {
            .docs-page__block-img {
                height: 20.625rem;
            }
        }
    }
}

.container {
    @media only screen and (max-width: 599px) {
        padding: 0 .938rem;
    }
}

.plugin__text a:hover {
    color: #6800f0;
    transition: all .3s;

    svg path {
        transition: all .3s;
        fill: #6800f0;
    }
}

.plugin__text a {
    svg path {
        transition: all .3s;
    }
}

.plugin__block-item a:hover {
    color: #6800f0;
    transition: all .3s;

    svg path {
        transition: all .3s;
        fill: #6800f0;
    }
}

.plugin__block-item a {
    svg {
        margin-bottom: -.3rem;
    }
}

.cols {
    &__blocks {
        display: flex;
        gap: 1rem;
        align-items: flex-start;
        margin-bottom: 2.5rem;
        padding-bottom: 3.125rem;
        border-bottom: .1rem solid #000;

        &:last-child {
            border-bottom: 0;
        }

        @include r(600) {
            flex-direction: column;
            gap: 1.563rem;
            margin-bottom: 3.438rem;
        }

        .col-v {
            .cols__block {
                max-width: 13.94rem;
            }
        }

        &.col-4 {
            flex-wrap: wrap;
            gap: 3.438rem 0;
            justify-content: space-between;
        }

        &.img-none {
            border: none;

            .cols__block-img {
                display: none;
            }
        }
    }

    &__block {
        max-width: 23rem;

        @include r(600) {
            max-width: 100%;
        }
    }

    &__block-img {
        width: 100%;
        margin-bottom: 1.25rem;

        img {
            width: 100%;
        }
    }

    &__block-name {
        margin-bottom: .625rem;
        font-weight: 600;
        font-size: 1.25rem;

        @include r(600) {
            font-size: 1.25rem;
        }
    }

    &__block-text {
        margin-bottom: .625rem;
        font-size: 1rem;
        color: #444648;
    }

    &__block-link {
        display: flex;
        gap: .688rem;
        align-items: center;
        font-size: 1rem;
        color: #00aaab;
        transition: all .3s;

        &:hover {
            color: #6800f0;
            transition: all .3s;

            svg path {
                transition: all .3s;
                fill: #6800f0;
            }
        }

        svg {
            width: .563rem;
            height: .838rem;
        }

        svg path {
            transition: all .3s;
        }
    }
}

.text-img {
    .cols__block-text {
        margin-bottom: .625rem;
        font-size: 1rem;
        color: #444648;

        @include r(600) {
            display: box;
            display: box;
            overflow: hidden;
            text-overflow: ellipsis;
            -moz-box-orient: vertical;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            line-clamp: 5;
            box-orient: vertical;
        }
    }
}

.recommendations {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 3.438rem;
    padding-top: 3rem;
    overflow: hidden;

    @include r(1024) {
        overflow: visible;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: .2rem;
        background: linear-gradient(270deg, #29d9bb 0%, #3a0ca3 64.06%, #270082 100%);
    }

    .swiper-slide {
        width: 19.69rem !important;
        margin-right: 2.25rem !important;

        @include r(1024) {
            margin-right: .625rem !important;
        }

        .recommendations__img {
            margin-bottom: 1.5rem;

            img {
                width: 100%;
                height: 15.62rem;
            }
        }
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2.688rem;

        @include r(1024) {
            margin-bottom: 1.875rem;
        }
    }

    &__name {
        position: relative;
        max-width: 15.38rem;
        margin-bottom: 1.5rem;
        padding-bottom: .5rem;
        font-weight: 500;
        font-size: 1.12rem;
        color: #5317a6;

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: .2rem;
            background: linear-gradient(270deg, #29d9bb 0%, #3a0ca3 64.06%, #270082 100%);
        }
    }

    &__title {
        font-weight: 500;
        font-size: 2.62rem;
        color: #5317a6;

        @include r(1024) {
            font-size: 1.5rem;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 1.38rem;

        @include r(1024) {
            font-size: 1.12rem;
        }
    }

    &__buttons {
        display: flex;
        gap: .625rem;
        align-items: center;

        @include r(600) {
            display: none;
        }
    }

    &__prev {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.12rem;
        height: 3.12rem;
        background-color: #00aaab;
        border-radius: 50%;
        transition: all .3s;

        &:hover {
            background-color: #5317a6;
            transition: all .3s;
        }

        svg {
            width: .563rem;
            height: .875rem;
        }
    }

    &__next {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.12rem;
        height: 3.12rem;
        background-color: #00aaab;
        border-radius: 50%;

        &:hover {
            background-color: #5317a6;
            transition: all .3s;
        }

        svg {
            width: .563rem;
            height: .875rem;
        }
    }
}

.slider-component {
    margin-bottom: 3.75rem;

    @include r(1024) {
        margin-bottom: 3rem;

        &:last-child {
            margin-top: -1rem;
            margin-bottom: 0;
        }
    }

    .slider-two-slides {
        position: relative;
    }

    &__btn {
        .button {
            @include r(1024) {
                min-width: 100%;
            }
        }
    }

    .slider-one-slide {
        position: relative;

        .slider-component__content {
            min-height: 100%;
            max-height: 100%;
        }

        .slider-arrows__prev {
            top: 30%;
        }

        .slider-arrows__next {
            top: 30%;
        }

        .slider-component__text {
            @include r(1024) {
                max-width: 100%;
                padding-bottom: 0;
            }
        }
    }

    &__img {
        width: 100%;
        margin-bottom: 1.25rem;

        img {
            width: 100%;
            border-radius: .62rem;
        }
    }

    &__title {
        margin-bottom: .625rem;
        font-weight: 600;
        font-size: 1.12rem;
    }

    &__text {
        position: relative;
        padding-bottom: 1.25rem;
        font-size: 1rem;

        @include r(1024) {
            max-width: 18rem;
        }
    }

    &__content {
        position: relative;
        min-height: 8rem;
        max-height: 8rem;
        margin-bottom: 1.25rem;

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: .1rem;
            background: linear-gradient(270deg, #29d9bb 0%, #3a0ca3 64.06%, #270082 100%);
        }

        @include r(1024) {
            min-height: 5.7rem;
            max-height: 5.7rem;

            &:before {
                display: none;
            }
        }
    }

    .slider-two-slides {
        .swiper-slide {
            width: 23rem;

            @include r(1024) {
                width: 19.38rem !important;
            }
        }
    }

    .slider-arrows {
        display: flex;

        @include r(600) {
            display: none;
        }
    }

    .slider-arrows {
        &__next {
            position: absolute;
            top: 21%;
            right: 1.063rem;
            z-index: 7;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.12rem;
            height: 3.12rem;
            background-color: #00aaab;
            border-radius: 50%;
            transition: all .3s;

            &:hover {
                background: #6800f0;
                transition: all .3s;
            }

            svg {
                width: 1.5rem;
                height: 1.5rem;
            }
        }

        &__prev {
            position: absolute;
            top: 21%;
            left: 1.063rem;
            z-index: 7;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.12rem;
            height: 3.12rem;
            background-color: #00aaab;
            border-radius: 50%;
            transition: all .3s;

            &:hover {
                background: #6800f0;
                transition: all .3s;
            }

            svg {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
}

.thumbnailsslider {
    overflow: hidden;

    .swiper {
        width: 100%;
        height: 100%;
    }

    .slider-arrows__prev {
        top: 45%;
    }

    .slider-arrows__next {
        top: 45%;
    }

    .swiper-slide__view {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        max-width: 7.45rem;
        max-height: 4.45rem;
        font-weight: 500;
        font-size: 1.12rem;
        color: #444648;
        background-color: #f5f5f5;
        border-radius: .5rem;
        cursor: pointer;
        transition: all .3s;

        &.opacity {
            visibility: hidden;
            opacity: 0;
            transition: all .3s;
        }

        @include r(1024) {
            max-width: 5.45rem;
        }
    }

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: #fff;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    body {
        color: #000;
        background: #000;
    }

    .swiper {
        width: 100%;
        height: 300px;
        margin-right: auto;
        margin-left: auto;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
    }

    .mySwiper2 {
        width: 100%;
        height: 80%;
    }

    .mySwiper {
        box-sizing: border-box;
        height: 20%;
        padding: 10px 0;
    }

    .mySwiper .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: .4;
    }

    .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .mySwiper2 {
        .swiper-slide {
            display: block;
            width: 100% !important;
            height: 27.69rem;

            @include r(1024) {
                height: 12.19rem;

                img {
                    border-radius: .62rem;
                }
            }
        }
    }

    .mySwiper {
        .swiper-slide {
            img {
                border-radius: .5rem;
            }
        }
    }
}

.category-page {
    &__title {
        position: relative;
        margin-bottom: 2.188rem;
        padding-bottom: 1.25rem;
        font-weight: 500;
        font-size: 2.62rem;
        line-height: 120%;
        color: #5317a6;

        @media (max-width: 1024px) {
            margin-bottom: 1.563rem;
            font-size: 2rem;
        }

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: .1rem;
            background: linear-gradient(270deg, #29d9bb 0%, #3a0ca3 64.06%, #270082 100%);
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: .938rem;
    }

    &__link {
        font-size: 1.25rem;
        color: #000;
    }
}

.menu-page .menu-sidebar__item .menu-sidebar__item-top.open-category .menu-sidebar__cetegory-link {
    @media (max-width: 1024px) {
        height: 2.88rem !important;
        max-width: 77%;
    }
}

.menu-page .menu-sidebar__arrows {
    @media (max-width: 1024px) {
        gap: 1rem;

        .menu-sidebar__link-category {
            order: 1;
            width: 2.188rem;
            height: 2.88rem;
        }

        svg {
            order: 0;
        }
    }
}

.menu-sidebar__cetegory-link {
    display: block;
    color: #000;
}

.menu-sidebar__item-top.nav-open {
    .menu-sidebar__cetegory-link {
        color: #5317a6;
    }
}

.menu-sidebar__subitem-top.sub-open {
    .menu-sidebar__cetegory-link {
        color: #5317a6;
    }
}

.swiper-slide a {
    display: block;
}

// lightbox

.fancybox__backdrop {
    background: rgba(0, 0, 0, .5) !important;
}

.fancybox__toolbar__column.is-left {
    display: none;
}

.fancybox__toolbar__column.is-right {
    button {
        display: none;

        &:last-child {
            display: block;
        }
    }
}

.fancybox__carousel {
    width: 76.44rem;
    max-height: 43.62rem;
    margin: 0 auto;
    margin-top: 4rem;
    padding-top: 1.5rem;
    background-color: #fff;
    border-radius: 1.25rem 1.25rem 0 0;

    @media (max-width: 962px) {
        width: 100%;
        max-height: 15rem;
        padding: 0 1rem;
        padding-top: 0;
        background-color: transparent;
    }
}

.fancybox__footer {
    width: 76.44rem;
    margin: 0 auto !important;
    background-color: #fff;
    border-radius: 0 0  1.25rem 1.25rem;

    @media (max-width: 962px) {
        width: 100%;
        margin: auto;
        background: transparent;
        border-radius: none;
    }
}

.fancybox__slide.has-image > .fancybox__content {
    width: 72.5rem !important;
    height: 42.81rem !important;
    border-radius: .62rem;
    transform: none !important;
}

.fancybox-image {
    width: 72.5rem !important;
    height: 42.81rem !important;
    object-fit: cover !important;
    border-radius: .62rem;
}

.fancybox__nav {
    @media (max-width: 962px) {
        display: none;
    }
}

.fancybox__container {
    @media (max-width: 962px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.fancybox__backdrop {
    @media (max-width: 962px) {
        background-color: #fff !important;
    }
}

.is-compact .fancybox__footer {
    @media (max-width: 962px) {
        bottom: 19rem;
    }
}

.is-compact .fancybox__footer {
    @media (max-width: 962px) {
        position: static !important;
        background: transparent !important;
    }
}

.fancybox__toolbar__column.is-right button:last-child {
    top: 3rem;
    right: 15rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #5317a6;
    border-radius: 50%;
    opacity: 1;

    @media (max-width: 1500px) {
        right: 3rem;
    }

    @media (max-width: 962px) {
        top: 1rem;
        right: 1rem;
    }
}

.f-thumbs__slide__img {
    border-radius: .5rem;
}

.is-classic .is-nav-selected {
    padding: .2rem !important;
    border: .1rem solid #00aaab !important;
    border-radius: .62rem;
    transition: all .3s;

    img {
        border-radius: .5rem !important;
    }
}

.f-thumbs__slide.for-image {
    padding: .2rem;
    border: .1rem solid transparent;
    border-radius: .62rem;
    transition: all .3s;
}

.f-thumbs__slide__img {
    border-radius: .5rem !important;
}

.is-classic .is-nav-selected .f-thumbs__slide__button:after {
    display: none !important;
}

.f-thumbs__slide__button {
    opacity: 1;
}

.f-button.is-prev {
    background: #00aaab !important;

    svg {
        width: 1rem !important;
        height: 1.4rem !important;
    }
}

.f-button.is-next {
    background: #00aaab !important;

    svg {
        width: 1rem !important;
        height: 1.4rem !important;
    }
}

.menu-sidebar__cetegory-link {
    font-weight: 400 !important;
}

.plugin {
    margin-top: 1rem;
}

.category-page .docs-page__content {
    width: 77%;
}

.menu-sidebar__item-content {
    .menu-sidebar__cetegory-link {
        font-size: .875rem;
    }
}

.menu-sidebar__subitem-content {
    .menu-sidebar__subitem-link {
        font-size: .875rem;
    }

    .menu-sidebar__link-sub {
        font-size: .875rem;
    }
}

.menu-page .menu-sidebar__link-sub.active {
    font-size: .875rem;
}

.menu-page--none .plugin__img {
    @media (max-width: 962px) {
        width: 100%;
        height: 60.25rem !important;
    }

    @media (max-width: 600px) {
        width: 100%;
        height: 30.25rem !important;
    }
}

.page-inblock {
    @media (max-width: 1240px) {
        gap: 1.5rem;
    }
}

.cols__blocks {
    @media (max-width: 1240px) {
        flex-direction: column;
    }
}

.cols__block {
    @media (max-width: 1240px) {
        max-width: 100%;
    }
}

.menu-page .entry-page-content__hsh a:hover {
    color: rgba(104, 0, 240, 1);
    transition: all .3s;
}

.menu-page {
    @media (max-width: 1025px) {
        overflow: hidden;
    }
}

.thumbnailsslider .mySwiper2 .swiper-slide {
    @media (max-width: 1240px) {
        height: 25rem;
    }

    @media (max-width: 1025px) {
        height: 25rem !important;
    }
}

.thumbnailsslider .swiper-slide img {
    border-radius: 1.5rem;
}

.thumbnailsslider .swiper-slide__view {
    @media (max-width: 1240px) {
        max-width: 5.75rem;
    }

    @media (max-width: 1025px) {
        max-width: 7.75rem !important;
    }
}

.thumbnailsslider {
    position: relative;
}

.swiper-slide__view {
    right: -0 !important;
    bottom: .6rem !important;
    z-index: 777;
}

.thumbnailsslider .swiper-slide {
    cursor: pointer;
}

.menu-sidebar__cetegory-link {
    font-weight: 500 !important;
}

.page-inblock{
    @media (max-width: 1025px) {
        gap: 0;
    }
}

.menu-sidebar__item-top .menu-sidebar__cetegory-link {
    color: #5317a6;
}

.thumbnailsslider .swiper-slide__view{

}

.swiper-slide__vieww{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 1.12rem;
    color: #444648;
    background-color: #f5f5f5;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .3s;
}

.thumbnailsslider .mySwiper .swiper-slide{
    &:nth-child(6){
        opacity: 1 !important;
        height: 4.4rem;
        @media (max-width: 1024px) {
            height: 6.5rem;
        }
        @media (max-width: 600px) {
            height: 3.5rem;
        }
    }
    &:nth-child(4){
        @media (max-width: 600px) {
            height: 3.5rem !important;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            font-weight: 500;
            font-size: 1.12rem;
            color: #444648;
            background-color: #f5f5f5;
            border-radius: .5rem;
            cursor: pointer;
            transition: all .3s;
        }
    }
}

.swiper-slide.hidden{
    display: none;
}


.fancybox-image{
    @media (max-width: 962px) {
        margin-top: -10rem !important;
    }
    @media (max-width: 600px) {
        margin-top: 0rem !important;
    }
}

@media only screen and (max-width: 1024px){
    .page-inblock .docs-page__block-img {
        width: 100%;
        height: 14rem;
        margin-bottom: 1.25rem;
    }
}

@media only screen and (max-width: 962px){
    .page-inblock .docs-page__block-img {
        width: 100%;
        height: 27rem;
        margin-bottom: 1.25rem;
    }
}

@media only screen and (max-width: 600px){
    .page-inblock .docs-page__block-img {
        width: 100%;
        height: 13rem;
        margin-bottom: 1.25rem;
    }
}



