.section-grocery-prices {
    padding-top: 70px;
    padding-bottom: 40px;

    @include r(599) {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.section-convenience-grocery {
    margin-top: 80px;
    padding-top: 90px;
    padding-bottom: 70px;

    @include r(599) {
        margin-top: 33px;
        padding-top: 47px;
        padding-bottom: 40px;
    }

    &__title {
        @include r(599) {
            text-align: start;
        }
    }

    &__desc {
        max-width: 640px;
        margin: 24px auto 50px;

        @include r(599) {
            margin-bottom: 32px;
            text-align: start;
        }
    }

    &__wrapper {
        gap: 30px;

        @include r(599) {
            gap: 12px;
        }
    }
}
