<div class="docs-sidebar">
  <button class="docs-sidebar__hamburger docs-sidebar-hamburger js-docs-nav-trigger">
    <span class="docs-sidebar-hamburger__text">Documents</span>
    <span class="docs-sidebar-hamburger__icon">
      <span class="docs-sidebar-hamburger__line"></span>
      <span class="docs-sidebar-hamburger__line"></span>
      <span class="docs-sidebar-hamburger__line"></span>
    </span>
  </button>
  <div class="docs-sidebar__sticky">
    <div class="docs-sidebar__list">
      <div class="docs-nav-item docs-nav-item--has-child is-active">
        <div class="docs-nav-item__inner gradient-button is-active">
          <div class="docs-nav-item__name">Getting started</div>
          <div class="docs-nav-item__icon">
            {{ mixins.icon('arrow-up') }}
          </div>
        </div>
        <div class="docs-nav-item__child">
          <div class="docs-nav-item-group">
            <div class="docs-nav-item-group__title">Grid interface</div>
            <ul class="docs-nav-item-group__list">
              <li><a href="#" class="is-active">Row Grouping</a></li>
              <li><a href="#">Grid API</a></li>
              <li><a href="#">Grid Events</a></li>
              <li><a href="#">Row Object</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="docs-nav-item docs-nav-item--has-child">
        <div class="docs-nav-item__inner gradient-button">
          <div class="docs-nav-item__name">Interface/API</div>
          <div class="docs-nav-item__icon">
            {{ mixins.icon('arrow-up') }}
          </div>
        </div>
        <div class="docs-nav-item__child">
          <div class="docs-nav-item-group">
            <div class="docs-nav-item-group__title">Grid interface</div>
            <ul class="docs-nav-item-group__list">
              <li><a href="#" class="is-active">Row Grouping</a></li>
              <li><a href="#">Grid API</a></li>
              <li><a href="#">Grid Events</a></li>
              <li><a href="#">Row Object</a></li>
            </ul>
          </div>
          <div class="docs-nav-item-group">
            <div class="docs-nav-item-group__title">Column Interface </div>
            <ul class="docs-nav-item-group__list">
              <li><a href="#">Column Properties </a></li>
              <li><a href="#">Column API</a></li>
              <li><a href="#">Grid Events</a></li>
              <li><a href="#">Column Object</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="docs-nav-item">
        <div class="docs-nav-item__inner gradient-button">
          <div class="docs-nav-item__name">Columns</div>
          <div class="docs-nav-item__icon">
            {{ mixins.icon('arrow-up') }}
          </div>
        </div>
      </div>
      <div class="docs-nav-item">
        <div class="docs-nav-item__inner gradient-button">
          <div class="docs-nav-item__name">Row</div>
          <div class="docs-nav-item__icon">
            {{ mixins.icon('arrow-up') }}
          </div>
        </div>
      </div>
      <div class="docs-nav-item">
        <div class="docs-nav-item__inner gradient-button">
          <div class="docs-nav-item__name">Building and tools</div>
          <div class="docs-nav-item__icon">
            {{ mixins.icon('arrow-up') }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



