<div class="entry-sidebar">
  <div class="entry-sidebar-group">
    <div class="entry-sidebar-group__title h4-title">Recent</div>
    <div class="entry-sidebar-group__list">
      <a href="#" class="entry-sidebar-card">
        <div class="entry-sidebar-card__image">
          <img
            src="https://loremflickr.com/200/200/abstract?lock=1"
            loading="lazy"
            width="60"
            height="60"
            alt=""
            aria-hidden="true"
          >
        </div>
        <div class="entry-sidebar-card__content">
          <div class="entry-sidebar-card__date">20.08.2023</div>
          <div class="entry-sidebar-card__title">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </div>
        </div>
      </a>
      <a href="#" class="entry-sidebar-card">
        <div class="entry-sidebar-card__image">
          <img
            src="https://loremflickr.com/200/200/abstract?lock=2"
            loading="lazy"
            width="60"
            height="60"
            alt=""
            aria-hidden="true"
          >
        </div>
        <div class="entry-sidebar-card__content">
          <div class="entry-sidebar-card__date">20.08.2023</div>
          <div class="entry-sidebar-card__title">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="entry-sidebar-group">
    <div class="entry-sidebar-group__title h4-title">News</div>
    <div class="entry-sidebar-group__list">
      <a href="#" class="entry-sidebar-card">
        <div class="entry-sidebar-card__image">
          <img
            src="https://loremflickr.com/200/200/abstract?lock=3"
            loading="lazy"
            width="60"
            height="60"
            alt=""
            aria-hidden="true"
          >
        </div>
        <div class="entry-sidebar-card__content">
          <div class="entry-sidebar-card__date">20.08.2023</div>
          <div class="entry-sidebar-card__title">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </div>
        </div>
      </a>
      <a href="#" class="entry-sidebar-card">
        <div class="entry-sidebar-card__image">
          <img
            src="https://loremflickr.com/200/200/abstract?lock=4"
            loading="lazy"
            width="60"
            height="60"
            alt=""
            aria-hidden="true"
          >
        </div>
        <div class="entry-sidebar-card__content">
          <div class="entry-sidebar-card__date">20.08.2023</div>
          <div class="entry-sidebar-card__title">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
