<div id="modal-accepted" class="modal-container">
  <div class="modal-container__overlay js-modal-close"></div>
  <div class="modal-container__wrapper">
    <div class="modal modal-accepted">
      <div class="modal-close modal__close js-modal-close">
        {{ mixins.icon('close') }}
      </div>

      <div class="modal__content">
        <div class="modal__header">
          <div class="h4-title modal__title">Your request has been<br>submitted <span>successfully</span></div>
          <div class="modal__desc" style="color:#838C95; font-size: 14px;"></div>
        </div>

        <div class="modal__button">
          {{ button('Back to page', 'button--fill js-modal-close') }}
        </div>
      </div>
    </div>
  </div>
</div>
