<div
  id="pricing"
  class="section-price"
>
  <h2 class="section-title section-title--center h2-title section-price__title">Pricing</h2>
  <div class="section-price__list">
    <div class="price-card">
      <div class="price-card__waves-wrapper">
        <div class="waves-bg price-card__waves">
          <svg
            class="waves-bg__wave-right price-card__wave-right"
            width="436"
            height="531"
            viewBox="0 0 436 531"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              class="price-card-wave"
              opacity="0.3"
              d="M588.729 631.632C597.419 668.573 570.097 705.392 531.143 706.723C508.487 707.498 482.752 696.508 458.396 659.363C390.664 556.068 318.865 572.114 293.928 485.081C268.991 398.047 330.009 336.792 401.175 325.354C428.813 320.912 452.644 320.947 471.461 322.647C498.674 325.108 521.148 344.337 527.243 370.241L588.732 631.634L588.729 631.632Z"
              fill="url(#paint0_linear_41_299)"
              fill-opacity="0.85"
            />
            <path
              class="price-card-wave"
              opacity="0.3"
              d="M482.133 411.045C482.133 411.045 421.022 380.747 376.275 454.855C331.529 528.965 291.965 459.727 210.601 498.717C190.261 508.465 176.872 524.616 169.35 543.546C138.72 620.639 220.703 695.06 298.902 662.697L473.304 590.516C501.633 578.793 522.645 554.752 529.844 525.648C539.166 487.957 538.072 438.15 482.133 411.045Z"
              fill="url(#paint1_linear_41_299)"
              fill-opacity="0.85"
            />
            <defs>
              <linearGradient
                id="paint0_linear_41_299"
                x1="342.903"
                y1="335.493"
                x2="626.589"
                y2="615.609"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#09DAB6" />
                <stop
                  offset="0.9999"
                  stop-color="#4906A5"
                />
                <stop
                  offset="1"
                  stop-color="#09DAB6"
                />
              </linearGradient>
              <linearGradient
                id="paint1_linear_41_299"
                x1="531.767"
                y1="465.945"
                x2="174.466"
                y2="622.046"
                gradientUnits="userSpaceOnUse"
              >
                <stop
                  offset="0.0729167"
                  stop-color="#210065"
                />
                <stop
                  offset="1"
                  stop-color="#2F0070"
                />
              </linearGradient>
            </defs>
          </svg>
        </div>
      </div>
      <div class="price-card__title">Basic</div>
      <div class="price-card__price">
        <span>100$</span>/per year
      </div>
      <div class="price-card__features">
        <div class="price-card__feature">
          Cloud POS
        </div>
        <div class="price-card__feature">
          Unlimited Products Count
        </div>
      </div>
      <div class="price-card__footer">
        {{ button('Try it free', 'button--fill', 'modal-request') }}
      </div>
    </div>
    <div class="price-card is-select">
      <div class="price-card__waves-wrapper">
        <div class="waves-bg price-card__waves">
          <svg
            class="waves-bg__wave-right price-card__wave-right"
            width="436"
            height="531"
            viewBox="0 0 436 531"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              class="price-card-wave"
              opacity="0.5"
              d="M321.834 541.231C286.94 558.096 243.736 540.883 233.285 504.364C227.207 483.123 232.168 456.218 263.599 424.494C351.003 336.27 318.153 272.14 399.319 228.186C480.486 184.232 556.007 227.583 584.102 292.194C595.013 317.285 600.558 339.826 603.263 358.015C607.174 384.321 593.213 410.072 568.744 421.9L321.833 541.234L321.834 541.231Z"
              fill="url(#paint0_linear_41_296)"
              fill-opacity="0.85"
            />
            <path
              class="price-card-wave"
              d="M434.966 383.783C434.966 383.783 374.816 351.719 327.805 424.489C280.797 497.262 243.384 426.902 160.854 463.504C140.223 472.654 126.342 488.408 118.24 507.11C85.2491 583.276 164.902 660.052 244.063 629.983L420.611 562.917C449.289 552.024 471.032 528.606 479.124 499.725C489.604 462.323 490.045 412.506 434.966 383.783Z"
              fill="url(#paint1_linear_41_296)"
              fill-opacity="0.75"
            />
            <defs>
              <linearGradient
                id="paint0_linear_41_296"
                x1="560.323"
                y1="239.471"
                x2="364.787"
                y2="583.546"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#4906A5" />
                <stop
                  offset="1"
                  stop-color="#09DAB6"
                />
              </linearGradient>
              <linearGradient
                id="paint1_linear_41_296"
                x1="482.886"
                y1="440.105"
                x2="120.765"
                y2="585.3"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#5A1CB1" />
                <stop
                  offset="1"
                  stop-color="#2F197E"
                />
              </linearGradient>
            </defs>
          </svg>
        </div>
      </div>
      <div class="price-card__title">Advanced</div>
      <div class="price-card__price">
        <span>100$</span>/per year<br>
        <span>+ 200$</span> for the POS terminal
      </div>
      <div class="price-card__features">
        <div class="price-card__feature">
          Cloud + offline POS
        </div>
        <div class="price-card__feature">
          Unlimited Products Count
        </div>
        <div class="price-card__feature">
          Online Store
        </div>
      </div>
      <div class="price-card__footer">
        {{ button('Try it free', 'button--fill', 'modal-request') }}
      </div>
    </div>
    <div class="price-card">
      <div class="price-card__waves-wrapper">
        <div class="waves-bg price-card__waves">
          <svg
            class="waves-bg__wave-right price-card__wave-right"
            width="436"
            height="531"
            viewBox="0 0 436 531"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              class="price-card-wave"
              opacity="0.4"
              d="M390.397 596.929C362.724 627.886 309.874 632.305 281.304 604.573C264.686 588.444 256.663 562.227 273.523 519.626C320.405 401.154 255.317 359.08 317.381 282.866C379.446 206.652 478.299 210.732 538.73 255.407C562.199 272.757 578.901 290.288 590.559 305.242C607.418 326.872 605.618 356.174 586.214 377.883L390.398 596.933L390.397 596.929Z"
              fill="url(#paint0_linear_41_292)"
              fill-opacity="0.85"
            />
            <path
              class="price-card-wave"
              d="M456.171 440.33C456.171 440.33 395.501 403.976 316.307 483.517C237.115 563.061 215.755 484.815 106.333 523.871C78.9787 533.635 57.4578 550.794 41.8084 571.301C-21.9202 654.816 47.2758 740.825 150.595 708.924L381.022 637.77C418.451 626.214 451.753 600.723 470.698 568.984C495.231 527.881 511.933 472.916 456.171 440.33Z"
              fill="url(#paint1_linear_41_292)"
              fill-opacity="0.85"
            />
            <path
              class="price-card-wave"
              d="M237.164 462.22C237.164 462.22 297.834 425.865 377.028 505.406C456.22 584.951 477.58 506.704 587.002 545.76C614.356 555.524 635.877 572.683 651.527 593.191C715.255 676.705 646.059 762.715 542.74 730.813L312.313 659.66C274.884 648.103 241.582 622.613 222.637 590.874C198.104 549.771 181.402 494.806 237.164 462.22Z"
              fill="url(#paint2_linear_41_292)"
              fill-opacity="0.85"
            />
            <defs>
              <linearGradient
                id="paint0_linear_41_292"
                x1="233.49"
                y1="574.742"
                x2="469.954"
                y2="210.277"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#29D9BB" />
                <stop
                  offset="1"
                  stop-color="#29D9BB"
                  stop-opacity="0.5"
                />
              </linearGradient>
              <linearGradient
                id="paint1_linear_41_292"
                x1="494.509"
                y1="503.256"
                x2="7.44945"
                y2="568.653"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#44108C" />
                <stop
                  offset="1"
                  stop-color="#271959"
                />
              </linearGradient>
              <linearGradient
                id="paint2_linear_41_292"
                x1="198.826"
                y1="525.145"
                x2="685.886"
                y2="590.542"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#4906A5" />
                <stop
                  offset="1"
                  stop-color="#09DAB6"
                />
              </linearGradient>
            </defs>
          </svg>
        </div>
      </div>
      <div class="price-card__title">Enterprise</div>
      <div class="price-card__price">
        from <span>1000$</span>
      </div>
      <div class="price-card__features">
        <div class="price-card__feature">
          Cloud + offline POS
        </div>
        <div class="price-card__feature">
          Unlimited Products Count
        </div>
        <div class="price-card__feature">
          Online Store
        </div>
        <div class="price-card__feature">
          Workflow
        </div>
        <div class="price-card__feature">
          Custom Add-ons
        </div>
      </div>
      <div class="price-card__footer">
        {{ button('Get a quote', 'button--fill', 'modal-request') }}
      </div>
    </div>
  </div>
</div>
