{% set
  mainMenu = [
  {
    title: 'Features',
    link: '#features',
    children: [
    {
      title: 'Sales',
      list: [
      {
        title: 'Cloud Based POS',
        link: '#'
      },
      {
        title: 'Android POS Mobile Application',
        link: '#'
      },
      {
        title: 'Android POS Device',
        link: '#'
      },
      {
        title: 'Desktop POS',
        link: '/desktop-pos'
      },
      {
        title: 'Bill payment acceptance',
        link: '#'
      },
      {
        title: 'Card acceptance',
        link: '#'
      },
      {
        title: 'P2P payments',
        link: '#'
      },
      {
        title: 'Online Showcase / Integrated Online store',
        link: '#'
      }
    ]
    },
    {
      title: 'Business process automation',
      list: [
      {
        title: 'POSE-invoicing (Egypt Tax Authority)',
        link: '#'
      },
      {
        title: 'E-receipt (Egypt Tax Authority)',
        link: '#'
      },
      {
        title: 'Tecards, weighing goods',
        link: '#'
      },
      {
        title: 'Customer Display POS software',
        link: '#'
      },
      {
        title: 'Kitchen Display software',
        link: '#'
      },
      {
        title: 'Barcode Price Checker software',
        link: '#'
      },
      {
        title: 'QR menu',
        link: '#'
      },
      {
        title: 'SDK/API for Enterprise',
        link: '#'
      }
    ]
    },
    {
      title: 'Clients',
      list: [
      {
        title: 'Customer/Client management (CRM)',
        link: '#'
      },
      {
        title: 'Online Ordering / Delivery System',
        link: '#'
      },
      {
        title: 'Offers/Promotions',
        link: '#'
      },
      {
        title: 'Desktop POS',
        link: '#'
      },
      {
        title: 'Bill payment acceptance',
        link: '#'
      },
      {
        title: 'Card acceptance',
        link: '#'
      },
      {
        title: 'P2P payments',
        link: '#'
      },
      {
        title: 'Online Showcase / Integrated Online store',
        link: '#'
      }
    ]
    },
    {
      title: 'Management',
      list: [
      {
        title: 'Management application (iOS, Android) (soon)',
        link: '#'
      },
      {
        title: 'Charts',
        link: '#'
      },
      {
        title: 'Analytics',
        link: '#'
      },
      {
        title: 'HRM (soon)',
        link: '#'
      },
      {
        title: 'Loyalty programs / Point & Credits',
        link: '#'
      }
    ]
    },
    {
      rows: [
      {
        title: 'Inventory',
        list: [
        {
          title: 'Suppliers & Purchases',
          link: '#'
        },
        {
          title: 'Inventory Management',
          link: '#'
        },
        {
          title: 'Additional modules',
          link: '#'
        }
      ]
      },
      {
        title: 'Addons',
        list: [
        {
          title: 'Link to Additional modules',
          link: '#'
        }
      ]
      }
    ]
    }
  ]
  },
  {
    title: 'Solutions',
    link: '#',
    children: [
    {
      title: 'Main',
      columns: false,
      list: [
      {
        title: 'Grocery store',
        link: '#'
      },
      {
        title: 'Supermarket / Retail Store / Home Store',
        link: '#'
      },
      {
        title: 'Bakery Shop',
        link: '#'
      },
      {
        title: 'Eyewear Shop',
        link: '#'
      },
      {
        title: 'Gift shop',
        link: '#'
      },
      {
        title: 'Jewelry store',
        link: '#'
      },
      {
        title: 'Furniture Store / Fashion Store',
        link: '#'
      }
    ]
    },
    {
      list: [
      {
        title: 'Jewelry store',
        link: '#'
      },
      {
        title: 'Clothing Stores',
        link: '#'
      },
      {
        title: 'Butcher Shop',
        link: '#'
      },
      {
        title: 'Perfume',
        link: '#'
      },
      {
        title: 'Liquor/Wine Store',
        link: '#'
      },
      {
        title: 'Kids Clothes Store',
        link: '#'
      },
      {
        title: 'Tourist shops',
        link: '#'
      }
      ]
    },
    {
      title: 'Food Service',
      list: [
      {
        title: 'Cafe',
        link: '#'
      },
      {
        title: 'Casual restaurant/Fine dining',
        link: '#'
      },
      {
        title: 'Fast food/Quick serve',
        link: '#'
      },
      {
        title: 'Sweets',
        link: '#'
      },
      {
        title: 'Ghost kitchen',
        link: '#'
      },
      {
        title: 'Food delivery',
        link: '#'
      }
    ]
    },
    {
      title: 'Electronics',
      list: [
      {
        title: 'Computer Shops',
        link: '#'
      },
      {
        title: 'Mobile Shop',
        link: '#'
      },
      {
        title: 'Home Appliances',
        link: '#'
      }
    ]
    },
    {
      title: 'Medicine',
      list: [
      {
        title: 'Beauty Salon',
        link: '#'
      },
      {
        title: 'Pharmacy',
        link: '#'
      },
      {
        title: 'Laboratories',
        link: '#'
      },
      {
        title: 'Dentistry',
        link: '#'
      },
      {
        title: 'Opticians',
        link: '#'
      },
      {
        title: 'Services of private doctors',
        link: '#'
      },
      {
        title: 'Services of private doctors Clinics and medical centers (+ children\'s)',
        link: '#'
      }
    ]
    },
    {
      title: 'Other',
      list: [
      {
        title: 'Services',
        link: '#'
      },
      {
        title: 'Cleaning Services',
        link: '#'
      },
      {
        title: 'Travel and Tourism',
        link: '#'
      },
      {
        title: 'Real Estate Agencies',
        link: '#'
      },
      {
        title: 'Training Centers',
        link: '#'
      },
      {
        title: 'Fitness',
        link: '#'
      },
      {
        title: 'Accountant Services',
        link: '#'
      },
      {
        title: 'Air Conditioner Installation',
        link: '#'
      },
      {
        title: 'Maintenance',
        link: '#'
      }
    ]
    }
  ]
  },
  {
    title: 'Pricing',
    link: '/pricing'
  },
  {
    title: 'Marketplace',
    link: '/marketplace'
  },
  {
    title: 'Resources',
    link: '/resources'
  },
  {
    title: 'Contacts',
    link: '/contacts'
  }
] %}

{% set
  defaultsData = {
  tg_link: '#',
  tel: '+20 111 702 0042',
  tel_link: 'tel:+201117020042',
  tel2: '+20 111 702 0062',
  tel2_link: 'tel:+201117020062',
  email: 'info@psr.com.eg',
  email_support: 'support@psr.com.eg',
  socials: [
    {
      type: 'chat',
      name: 'fb',
      link: 'https://web.facebook.com/pulsar.eg'
    },
    {
      type: 'chat',
      name: 'tg',
      link: 'https://t.me/inventory_psr'
    },
    {
      type: 'chat',
      name: 'wp',
      link: 'https://chat.whatsapp.com/E2KhtrBzXQuJuYQ7ey9poW'
    },
    {
      type: 'follow',
      name: 'li',
      link: 'https://www.linkedin.com/company/psr-eg/'
    },
    {
      type: 'follow',
      name: 'ig',
      link: 'https://www.instagram.com/pulsar_eg/'
    }
  ]
} %}
