{% set
easyStart = [
	{
		icon: 'ui.svg',
    title: 'Удобный интерфейс',
		desc: 'Для работы с Кассой не нужны специализированные знания'
	},
	{
    icon: 'sell.svg',
    title: 'Легкая продажа',
    desc: 'Быстрый подбор товара, скидки, смешанная оплата, возвраты и&nbsp;отложенные чеки'
	},
  {
    icon: 'support.svg',
    title: 'Техподдержка 24/7',
    desc: 'По <a href="" target="_blank">телефону</a> или в <a href="" target="_blank">Telegram</a> мы&nbsp;доступны круглосуточно'
  },
  {
    icon: 'notify.svg',
    title: 'Важные особенности',
    desc: 'Касса поддерживает работу с&nbsp;маркировкой, торговыми весами, синхронизируется с товароучетным программным обеспечением'
  }
]
%}
