.star-input {
    &__input {
        display: none;
        visibility: hidden;
    }

    &__stars {
        display: flex;

        svg + svg {
            margin-left: 7px;
        }
    }

    svg {
        width: 29px;
        height: 29px;
        cursor: pointer;
        transition: fill .2s ease;
        fill: rgba(#fff, .7);

        @include any-hover {
            fill: #ffc700;
        }

        &.is-active,
        &.is-hover {
            fill: #ffc700;
        }
    }
}
