.tabs {
    // margin-top: 50px;

    @include r(599) {
        margin-top: 40px;
    }

    &__header {
        overflow: hidden;
        overflow-x: scroll;

        @include scrollbars($hover: true, $size: none);
    }

    &__nav {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px solid $secondary;
    }

    &__nav-wrapper {
        display: inline-flex;

        @include r(599) {
            width: 100%;
            overflow-x: scroll;

            & > * {
                flex: 0 0 auto;
            }
        }
    }

    &__item {
        padding: 14px 35px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.18;
        color: $secondary;
        white-space: nowrap;
        cursor: pointer;
        transition: background .2s ease, color .2s ease;

        &:hover {
            background: rgba($secondary, .1);
        }

        &.is-active {
            color: #fff;
            background: $secondary;
        }

        @include r(599) {
            flex: 1 0 50%;
            padding: 15px;
            text-align: center;
        }
    }

    &__content {

    }
}

.tab-content {
    display: none;

    &.is-active {
        display: block;
    }
}
