<section class="section section-control">
  <div class="container">
    <h2 class="section-title section-title--center h2-title section-control__title">
      Effective accounting<br>and&nbsp;control
    </h2>
    <div class="section-desc section-desc--center section-control__desc">Increasing the productivity and profitability of your business.</div>
    <div class="section-control__list">
      <div class="control-item">
        <div class="control-item__icon">
          <img
            src="img/done.svg"
            loading="lazy"
            width="27"
            height="27"
            alt=""
            aria-hidden="true"
          >
        </div>
        <div class="control-item__content">
          <div class="control-item__title h5-title">
            Keep track of stock balances
          </div>
          <div class="control-item__desc">
            You will be able to buy everything you need in time.
          </div>
        </div>
      </div>
      <div class="control-item">
        <div class="control-item__icon">
          <img
            src="img/done.svg"
            loading="lazy"
            width="27"
            height="27"
            alt=""
            aria-hidden="true"
          >
        </div>
        <div class="control-item__content">
          <div class="control-item__title h5-title">
            Plan for purchasing
          </div>
          <div class="control-item__desc">
            You will quickly realise what you need to&nbsp;buy in order to increase sales.
          </div>
        </div>
      </div>
      <div class="control-item">
        <div class="control-item__icon">
          <img
            src="img/done.svg"
            loading="lazy"
            width="27"
            height="27"
            alt=""
            aria-hidden="true"
          >
        </div>
        <div class="control-item__content">
          <div class="control-item__title h5-title">
            Edit product cards
          </div>
          <div class="control-item__desc">
            Create and edit product cards on your computer or smart terminal.
          </div>
        </div>
      </div>
      <div class="control-item">
        <div class="control-item__icon">
          <img
            src="img/done.svg"
            loading="lazy"
            width="27"
            height="27"
            alt=""
            aria-hidden="true"
          >
        </div>
        <div class="control-item__content">
          <div class="control-item__title h5-title">
            Compliance with the law
          </div>
          <div class="control-item__desc">
            To comply with the law, state the name, price and quantity of the goods on the receipt.
          </div>
        </div>
      </div>
    </div>
    <div class="section-control__price">
      {% include "partials/_pricing.html" %}
    </div>
  </div>
</section>
