<section class="section section-blog">
  <div class="container">
    <div class="section-blog__header">
      <h2 class="section-title h2-title section-blog__title">Blog</h2>
      <div class="section-blog__buttons">
        <div class="button-tumbler">
          <div class="button-tumbler__item is-active">All</div>
          <div class="button-tumbler__item">Recent</div>
        </div>
      </div>
    </div>
    <div class="swiper-default-wrapper section-blog__list">
      <div class="swiper swiper-default">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide-post-card">
            <div class="post-card">
              <div class="post-card__image">
                <img
                  src="img/blog-1.jpg"
                  loading="lazy"
                  alt="Manage stocks efficiently"
                >
              </div>
              <div class="post-card__title h4-title">
                Manage stocks efficiently
              </div>
              <div class="post-card__content">
                Find out how our intuitive system helps you track inventory, avoid shortages and&nbsp;surpluses, and optimize
                orders.
              </div>
              <a href="#" class="post-card__link"></a>
            </div>
          </div>
          <div class="swiper-slide swiper-slide-post-card">
            <div class="post-card">
              <div class="post-card__image">
                <img
                  src="img/blog-2.jpg"
                  loading="lazy"
                  alt="Increase accounting accuracy"
                >
              </div>
              <div class="post-card__title h4-title">
                Increase accounting accuracy
              </div>
              <div class="post-card__content">
                Find out how our automated system can help you avoid accounting errors, improve the accuracy of your sales tracking and set up a reliable auditing system.
              </div>
              <a href="#" class="post-card__link"></a>
            </div>
          </div>
          <div class="swiper-slide swiper-slide-post-card">
            <div class="post-card">
              <div class="post-card__image">
                <img
                  src="img/blog-3.jpg"
                  loading="lazy"
                  alt="Increase the efficiency of your business"
                >
              </div>
              <div class="post-card__title h4-title">
                Increase the efficiency of&nbsp;your business
              </div>
              <div class="post-card__content">
                Find out how our innovative system can help you manage your inventory, reduce time spent searching for and accounting for goods, and increase the productivity of your business.
              </div>
              <a href="#" class="post-card__link"></a>
            </div>
          </div>
          <div class="swiper-slide swiper-slide-post-card">
            <div class="post-card">
              <div class="post-card__image">
                <img
                  src="img/blog-2.jpg"
                  loading="lazy"
                  alt="Increase accounting accuracy"
                >
              </div>
              <div class="post-card__title h4-title">
                Increase accounting accuracy
              </div>
              <div class="post-card__content">
                Find out how our automated system can help you avoid accounting errors, improve the accuracy of your sales tracking and set up a reliable auditing system.
              </div>
              <a href="#" class="post-card__link"></a>
            </div>
          </div>
        </div>
      </div>
      <button class="swiper-custom-button-prev button button--fill button--round">
        {{ mixins.icon('right-arrow') }}
      </button>
      <button class="swiper-custom-button-next button button--fill button--round">
        {{ mixins.icon('right-arrow') }}
      </button>
    </div>
  </div>
</section>
