<section class="section section-grey section-purchases">
  <div class="container">
    <h2 class="section-title section-title--center h2-title section-purchases__title">
      What you can use<br>to&nbsp;record purchases
    </h2>
    <div class="section-purchases__list">
      <div class="purchases-record-way-card">
        <div class="purchases-record-way-card__image">
          <video
            autoplay
            loop
            muted
            playsinline
            poster="img/card-img-1.jpg"
            src="img/purchases_1.mp4"
          ></video>
        </div>
        <div class="purchases-record-way-card__content">
          <div class="purchases-record-way-card__title h5-title">Pulsar POS</div>
          <div class="purchases-record-way-card__desc">
            Sell in-store, at retail events, pop-up stores and even online using all payments methods and powerful
            software for every aspect of retail business.
          </div>
        </div>

      </div>
      <div class="purchases-record-way-card">
        <div class="purchases-record-way-card__image">
          <video
            autoplay
            loop
            muted
            playsinline
            poster="img/card-img-2.jpg"
            src="img/purchases_2.mp4"
          ></video>
        </div>
        <div class="purchases-record-way-card__content">
          <div class="purchases-record-way-card__title h5-title">Desktop POS</div>
          <div class="purchases-record-way-card__desc">
            Replacement for other systems, integration with printers, offline operation. Installs on any linux/win/macos
          </div>
        </div>

      </div>
      <div class="purchases-record-way-card">
        <div class="purchases-record-way-card__image">
          <video
            autoplay
            loop
            muted
            playsinline
            poster="img/card-img-3.jpg"
            src="img/purchases_3.mp4"
          ></video>
        </div>
        <div class="purchases-record-way-card__content">
          <div class="purchases-record-way-card__title h5-title">Pulsar Soft POS</div>
          <div class="purchases-record-way-card__desc">
            Sell-on-the-go app, convenient and&nbsp;fast. Don’t be limited to just working behind a counter!
          </div>
        </div>
      </div>
      <div class="purchases-record-way-card">
        <div class="purchases-record-way-card__image">
          <video
            autoplay
            loop
            muted
            playsinline
            poster="img/card-img-4.jpg"
            src="img/purchases_4.mp4"
          ></video>
        </div>
        <div class="purchases-record-way-card__content">
          <div class="purchases-record-way-card__title h5-title">Cloud platform</div>
          <div class="purchases-record-way-card__desc">
            Cash float, order history, daily totals, staff metrics and much more for&nbsp;effective retail management.
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
