<section class="section section-grey section-sales">
  <div class="container">
    <div class="grid-flex">
      <div class="large-6 medium-12">
        <h2 class="section-title h1-title section-sales__title">
          Boost your<br> Sales with&nbsp;PSR
        </h2>
        <div class="section-desc">
          Sell anytime, from any device and track your sales and profitability in real-time.
        </div>
        <div class="section-sales__button">
          {{ button('Try it free', 'button--fill', 'modal-request') }}
        </div>
      </div>
      <div class="large-6 medium-12">
        <div class="section-sales__list">
          <div class="system-case-card">
            <div class="system-case-card__icon">
              <img
                src="img/web.svg"
                loading="lazy"
                width="45"
                height="45"
                alt=""
                aria-hidden="true"
              >
            </div>
            <div class="system-case-card__content">
              <div class="system-case-card__title">The service is constantly expanding</div>
              <div class="system-case-card__desc">
                Printing receipts from a computer, working with scale is coming soon
              </div>
            </div>
          </div>
          <div class="system-case-card">
            <div class="system-case-card__icon">
              <img
                src="img/db.svg"
                loading="lazy"
                width="45"
                height="45"
                alt=""
                aria-hidden="true"
              >
            </div>
            <div class="system-case-card__content">
              <div class="system-case-card__title">Tax compliance</div>
              <div class="system-case-card__desc">
                To comply with the law, specify the name, price and quantity of goods on the receipt.
              </div>
            </div>
          </div>
          <div class="system-case-card">
            <div class="system-case-card__icon">
              <img
                src="img/bag.svg"
                loading="lazy"
                width="45"
                height="45"
                alt=""
                aria-hidden="true"
              >
            </div>
            <div class="system-case-card__content">
              <div class="system-case-card__title">Online Store</div>
              <div class="system-case-card__desc">
                Easily confirm quantities in a purchase invoice as received
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
