<section
  id="features"
  class="section section-features section-grey"
>
  <div class="container">
    <div class="section-features__header grid-flex">
      <div class="large-offset-4 large-12 medium-offset-0">
        <h2 class="section-title h2-title section-features__title">
          Features
        </h2>
        <div class="section-desc section-features__desc">
          We constantly add new features allowing us to help you stay up to date with the technology you need
        </div>
      </div>
    </div>
    <div class="section-features__list grid-flex tabs">
      <div class="large-3 medium-12">
        <div class="tabs__nav-wrapper section-features__nav-wrapper">
          <div
            class="gradient-button is-active js-tab-trigger"
            role="tab"
            data-tab="0"
          >
            Sales
          </div>
          <div
            class="gradient-button js-tab-trigger"
            role="tab"
            data-tab="1"
          >
            Business process automation
          </div>
          <div
            class="gradient-button js-tab-trigger"
            role="tab"
            data-tab="2"
          >
            Clients
          </div>
          <div
            class="gradient-button js-tab-trigger"
            role="tab"
            data-tab="3"
          >
            Management
          </div>
          <div
            class="gradient-button js-tab-trigger"
            role="tab"
            data-tab="4"
          >
            Inventory
          </div>
          <div
            class="gradient-button js-tab-trigger"
            role="tab"
            data-tab="5"
          >
            Addons
          </div>
        </div>
      </div>
      <div class="large-8 large-offset-1 medium-12 medium-offset-0">
        <div class="tabs__content">
          <div
            class="tab-content js-tab-content"
            data-tab="0"
          >
            <div class="feature-card-list">
              <div class="feature-card-list__col">
                <div class="feature-card">
                  <div class="feature-card__header">
                    <div class="feature-card__icon">
                      <img
                        src="img/cloud.svg"
                        alt="Cloud Based POS"
                        width="48"
                        height="46"
                      >
                    </div>
                    <div class="feature-card__title h4-title">
                      Cloud Based POS
                    </div>
                  </div>
                  <div class="feature-card__content">
                    Utilize the power of the cloud POS to effectively manage sales, inventory and everything in between.
                  </div>
                </div>
                <div class="feature-card">
                  <div class="feature-card__header">
                    <div class="feature-card__icon">
                      <img
                        src="img/pay.svg"
                        alt="Bill payment acceptance"
                        width="48"
                        height="46"
                      >
                    </div>
                    <div class="feature-card__title h4-title">
                      Bill payment acceptance
                    </div>
                  </div>
                  <div class="feature-card__content">
                    Optimising bill payment acceptance<br>means more customers and larger<br>revenue.
                  </div>
                </div>
              </div>
              <div class="feature-card-list__col">
                <div class="feature-card">
                  <div class="feature-card__header">
                    <div class="feature-card__icon">
                      <img
                        src="img/mobile.svg"
                        alt="Android POS Mobile Application"
                        width="48"
                        height="46"
                      >
                    </div>
                    <div class="feature-card__title h4-title">
                      Android POS Mobile Application
                    </div>
                  </div>
                  <div class="feature-card__content">
                    Accept chip and PIN cards, contactless cards and mobile payments.
                  </div>
                </div>
                <div class="feature-card">
                  <div class="feature-card__header">
                    <div class="feature-card__icon">
                      <img
                        src="img/card.svg"
                        alt="Card acceptance"
                        width="48"
                        height="46"
                      >
                    </div>
                    <div class="feature-card__title h4-title">
                      Card acceptance
                    </div>
                  </div>
                  <div class="feature-card__content">
                    POS system integrates with a card processor tailor-made for your business.
                  </div>
                </div>
              </div>
              <div class="feature-card-list__col">
                <div class="feature-card">
                  <div class="feature-card__header">
                    <div class="feature-card__icon">
                      <img
                        src="img/wifi.svg"
                        alt="Android POS Device"
                        width="48"
                        height="46"
                      >
                    </div>
                    <div class="feature-card__title h4-title">
                      Android POS Device
                    </div>
                  </div>
                  <div class="feature-card__content">
                    A complete POS experience, beyond just accepting payment, in an all-in-one device.
                  </div>
                </div>
                <div class="feature-card">
                  <div class="feature-card__header">
                    <div class="feature-card__icon">
                      <img
                        src="img/p2p.svg"
                        alt="P2P payments"
                        width="48"
                        height="46"
                      >
                    </div>
                    <div class="feature-card__title h4-title">
                      P2P payments
                    </div>
                  </div>
                  <div class="feature-card__content">
                    When you’re quickly moving from&nbsp;one client to another, you don’t need to take a POS system.
                  </div>
                </div>
              </div>
              <div class="feature-card-list__col">
                <div class="feature-card">
                  <div class="feature-card__header">
                    <div class="feature-card__icon">
                      <img
                        src="img/pc.svg"
                        alt="Desktop POS"
                        width="48"
                        height="46"
                      >
                    </div>
                    <div class="feature-card__title h4-title">
                      Desktop POS
                    </div>
                  </div>
                  <div class="feature-card__content">
                    The most versatile and&nbsp;functional POS for businesses with complex needs.
                  </div>
                </div>
                <div class="feature-card">
                  <div class="feature-card__header">
                    <div class="feature-card__icon">
                      <img
                        src="img/store.svg"
                        alt="Online Showcase / Integrated Online store"
                        width="48"
                        height="46"
                      >
                    </div>
                    <div class="feature-card__title h4-title">
                      Online Showcase / Integrated Online store
                    </div>
                  </div>
                  <div class="feature-card__content">
                    Generate detailed POS sales and&nbsp;profit reports and monitor your retail sales.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="tab-content js-tab-content"
            data-tab="1"
          >
            <div class="feature-card-list">
              <div class="feature-card-list__col">
                <div class="feature-card">
                  <div class="feature-card__header">
                    <div class="feature-card__icon">
                      <img
                        src="img/db.svg"
                        alt="Desktop POS"
                        width="48"
                        height="46"
                      >
                    </div>
                    <div class="feature-card__title h4-title">
                      E-invoicing (Egypt Tax Authority)
                    </div>
                  </div>
                  <div class="feature-card__content">
                    The system considers the emission and reception of&nbsp;e-invoices, debit notes, and credit notes.
                  </div>
                </div>
                <div class="feature-card">
                  <div class="feature-card__header">
                    <div class="feature-card__icon">
                      <img
                        src="img/updown.svg"
                        alt="Online Showcase / Integrated Online store"
                        width="48"
                        height="46"
                      >
                    </div>
                    <div class="feature-card__title h4-title">
                      E-receipt (Egypt Tax Authority)
                    </div>
                  </div>
                  <div class="feature-card__content">
                    System allows to monitor all transactions between sellers and consumers in real time.
                  </div>
                </div>
              </div>
              <div class="feature-card-list__col">
                <div class="feature-card">
                  <div class="feature-card__header">
                    <div class="feature-card__icon">
                      <img
                        src="img/customer.svg"
                        alt="Desktop POS"
                        width="48"
                        height="46"
                      >
                    </div>
                    <div class="feature-card__title h4-title">
                      Customer Display POS software
                    </div>
                  </div>
                  <div class="feature-card__content">
                    The cashier has a POS screen to add items to cart, record customer information.
                  </div>
                </div>
                <div class="feature-card">
                  <div class="feature-card__header">
                    <div class="feature-card__icon">
                      <img
                        src="img/kitchen.svg"
                        alt="Online Showcase / Integrated Online store"
                        width="48"
                        height="46"
                      >
                    </div>
                    <div class="feature-card__title h4-title">
                      Kitchen Display software
                    </div>
                  </div>
                  <div class="feature-card__content">
                    This software allows restaurants and kitchens to&nbsp;view orders and other kitchen communications.
                  </div>
                </div>
              </div>
              <div class="feature-card-list__col">
                <div class="feature-card">
                  <div class="feature-card__header">
                    <div class="feature-card__icon">
                      <img
                        src="img/barcode.svg"
                        alt="Desktop POS"
                        width="48"
                        height="46"
                      >
                    </div>
                    <div class="feature-card__title h4-title">
                      Barcode Price Checker software
                    </div>
                  </div>
                  <div class="feature-card__content">
                    You hold the product near the Barcode Scanner and the relevant information is shown on the display.
                  </div>
                </div>
                <div class="feature-card">
                  <div class="feature-card__header">
                    <div class="feature-card__icon">
                      <img
                        src="img/qr.svg"
                        alt="Online Showcase / Integrated Online store"
                        width="48"
                        height="46"
                      >
                    </div>
                    <div class="feature-card__title h4-title">
                      QR menu
                    </div>
                  </div>
                  <div class="feature-card__content">
                    Guests only need to open the QR code on their phone instead of the paper menu and order.
                  </div>
                </div>
              </div>
              <div class="feature-card-list__col">
                <div class="feature-card">
                  <div class="feature-card__header">
                    <div class="feature-card__icon">
                      <img
                        src="img/web.svg"
                        alt="Desktop POS"
                        width="48"
                        height="46"
                      >
                    </div>
                    <div class="feature-card__title h4-title">
                      SDK/API for Enterprise
                    </div>
                  </div>
                  <div class="feature-card__content">
                    Both tools help developers integrate new features into their app without having to start from scratch.
                  </div>
                </div>
                <div class="feature-card">
                  <div class="feature-card__header">
                    <div class="feature-card__icon">
                      <img
                        src="img/list.svg"
                        alt="Online Showcase / Integrated Online store"
                        width="48"
                        height="46"
                      >
                    </div>
                    <div class="feature-card__title h4-title">
                      Tecards, weighing goods
                    </div>
                  </div>
                  <div class="feature-card__content">
                    The recipe sheets are the recipe and allow you to keep track of the ingredients in the warehouse.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="tab-content js-tab-content"
            data-tab="2"
          >
            <div class="feature-card-list">
              <div class="feature-card-list__col">
                <div class="feature-card">
                  <div class="feature-card__header">
                    <div class="feature-card__icon">
                      <img
                        src="img/spring.svg"
                        alt="Desktop POS"
                        width="48"
                        height="46"
                      >
                    </div>
                    <div class="feature-card__title h4-title">
                      Customer, Client management (CRM)
                    </div>
                  </div>
                  <div class="feature-card__content">
                    Your business needs client management software that can offer a complete picture of every client.
                  </div>
                </div>
                <div class="feature-card">
                  <div class="feature-card__header">
                    <div class="feature-card__icon">
                      <img
                        src="img/bag-2.svg"
                        alt="Online Showcase / Integrated Online store"
                        width="48"
                        height="46"
                      >
                    </div>
                    <div class="feature-card__title h4-title">
                      Online Ordering, Delivery System
                    </div>
                  </div>
                  <div class="feature-card__content">
                    Our system centralizes all pick-up, delivery & dine in orders, so you can be in full control of business.
                  </div>
                </div>
              </div>
              <div class="feature-card-list__col">
                <div class="feature-card">
                  <div class="feature-card__header">
                    <div class="feature-card__icon">
                      <img
                        src="img/star-bubble.svg"
                        alt="Desktop POS"
                        width="48"
                        height="46"
                      >
                    </div>
                    <div class="feature-card__title h4-title">
                      Offers, Promotions
                    </div>
                  </div>
                  <div class="feature-card__content">
                    Learning about it can help you implement more effective strategies to increase your revenue.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="tab-content js-tab-content"
            data-tab="3"
          >
            <div class="feature-card-list">
              <div class="feature-card-list__col">
                <div class="feature-card">
                  <div class="feature-card__header">
                    <div class="feature-card__icon">
                      <img
                        src="img/app-code.svg"
                        alt="Desktop POS"
                        width="48"
                        height="46"
                      >
                    </div>
                    <div class="feature-card__title h4-title">
                      Management application (iOS, Android)
                    </div>
                    <div class="feature-card__badge">
                      soon
                    </div>
                  </div>
                  <div class="feature-card__content">
                    Modern project management apps and software automate management routines.
                  </div>
                </div>
                <div class="feature-card">
                  <div class="feature-card__header">
                    <div class="feature-card__icon">
                      <img
                        src="img/charts.svg"
                        alt="Online Showcase / Integrated Online store"
                        width="48"
                        height="46"
                      >
                    </div>
                    <div class="feature-card__title h4-title">
                      Charts
                    </div>
                  </div>
                  <div class="feature-card__content">
                    Clear data visualization is one of the keys to project management success.
                  </div>
                </div>
              </div>
              <div class="feature-card-list__col">
                <div class="feature-card">
                  <div class="feature-card__header">
                    <div class="feature-card__icon">
                      <img
                        src="img/table.svg"
                        alt="Desktop POS"
                        width="48"
                        height="46"
                      >
                    </div>
                    <div class="feature-card__title h4-title">
                      Analytics
                    </div>
                  </div>
                  <div class="feature-card__content">
                    Analytics involves developing understanding of the factors influencing managerial decisions.
                  </div>
                </div>
                <div class="feature-card">
                  <div class="feature-card__header">
                    <div class="feature-card__icon">
                      <img
                        src="img/hrm.svg"
                        alt="HRM"
                        width="48"
                        height="46"
                      >
                    </div>
                    <div class="feature-card__title h4-title">
                      HRM
                    </div>
                    <div class="feature-card__badge">
                      soon
                    </div>
                  </div>
                  <div class="feature-card__content">
                    Is a system that helps to attract and retain its own staff rather than customers.
                  </div>
                </div>
              </div>
              <div class="feature-card-list__col">
                <div class="feature-card">
                  <div class="feature-card__header">
                    <div class="feature-card__icon">
                      <img
                        src="img/desctop-done.svg"
                        alt="Desktop POS"
                        width="48"
                        height="46"
                      >
                    </div>
                    <div class="feature-card__title h4-title">
                      Loyalty programs, Point & Credits
                    </div>
                  </div>
                  <div class="feature-card__content">
                    They are designed to encourage repeat business, offering people a reward for store/brand loyalty.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="tab-content js-tab-content"
            data-tab="4"
          >
            <div class="feature-card-list">
              <div class="feature-card-list__col">
                <div class="feature-card">
                  <div class="feature-card__header">
                    <div class="feature-card__icon">
                      <img
                        src="img/car.svg"
                        alt="Suppliers & Purchases"
                        width="48"
                        height="46"
                      >
                    </div>
                    <div class="feature-card__title h4-title">
                      Suppliers & Purchases
                    </div>
                  </div>
                  <div class="feature-card__content">
                    Systematic approach to governing costs as a way to ensure long-term value creation.
                  </div>
                </div>
                <div class="feature-card">
                  <div class="feature-card__header">
                    <div class="feature-card__icon">
                      <img
                        src="img/scan.svg"
                        alt="Online Showcase / Integrated Online store"
                        width="48"
                        height="46"
                      >
                    </div>
                    <div class="feature-card__title h4-title">
                      Inventory Management
                    </div>
                  </div>
                  <div class="feature-card__content">
                    The goal of inventory management is to have the right products in the right place at the right time.
                  </div>
                </div>
              </div>
              <div class="feature-card-list__col">
                <div class="feature-card">
                  <div class="feature-card__header">
                    <div class="feature-card__icon">
                      <img
                        src="img/modules.svg"
                        alt="Additional modules"
                        width="48"
                        height="46"
                      >
                    </div>
                    <div class="feature-card__title h4-title">
                      Additional modules
                    </div>
                  </div>
                  <div class="feature-card__content">
                    A module is dedicated to a business need, but modules can also interact with one another.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
