<section class="section section-faq">
  <div class="container">
    <div class="section-faq__wrapper">
      <div class="section-faq__form-wrapper">
        <form
          id="from-question"
          class="form section-faq__form"
          method="POST"
          data-form-name="question"
        >
          <div class="section-faq__form-wave waves-bg">
            <svg class="waves-bg__wave" width="636" height="851" viewBox="0 0 636 851" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="form-wave" opacity="0.7" d="M608.051 727.544C608.051 727.544 513.752 642.171 403.682 727.349C293.614 812.531 253.705 681.148 94.3579 689.152C54.5232 691.154 24.1547 707.402 2.8947 731.648C-83.6811 830.392 28.4356 996.728 179.405 996.874L516.105 997.193C570.797 997.246 617.898 973.748 642.926 933.693C675.337 881.819 694.636 804.73 608.051 727.544Z" fill="url(#paint0_linear_41_828)" fill-opacity="0.85"/>
              <path class="form-wave" opacity="0.3" d="M556.562 993.495C615.249 993.722 652.491 945.607 631.421 892.872C619.166 862.197 588.04 831.034 519.803 809.825C330.064 750.845 310.93 649.429 170.035 642.902C29.1401 636.375 -23.6324 737.32 1.80653 836.458C11.6837 874.957 25.8043 906.964 39.3841 931.708C59.0193 967.502 100.166 991.735 141.313 991.892L556.562 993.495Z" fill="url(#paint1_linear_41_828)"/>
              <path class="form-wave" opacity="0.2" d="M279.592 1158.61C218.262 1168.8 160.395 1132.12 161.742 1081.39C162.525 1051.89 182.868 1018.73 245.953 988.166C421.381 903.163 401.588 809.243 546.487 779.436C691.386 749.628 786.25 830.891 798.547 923.848C803.323 959.948 801.107 990.959 796.615 1015.39C790.116 1050.73 756.565 1079.39 713.559 1086.54L279.589 1158.62L279.592 1158.61Z" fill="url(#paint2_linear_41_828)"/>
              <path class="form-wave" opacity="0.4" d="M315.18 1048.61C376.51 1058.8 434.377 1022.12 433.03 971.393C432.247 941.886 411.904 908.731 348.819 878.165C173.391 793.162 193.184 699.242 48.2847 669.435C-96.6143 639.627 -191.478 720.89 -203.775 813.847C-208.552 849.947 -206.335 880.958 -201.843 905.392C-195.344 940.731 -161.793 969.392 -118.787 976.537L315.183 1048.61L315.18 1048.61Z" fill="url(#paint3_linear_41_828)"/>
              <defs>
                <linearGradient id="paint0_linear_41_828" x1="671.734" y1="843.347" x2="-0.105882" y2="969.568" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#4906A5"/>
                  <stop offset="1" stop-color="#09DAB6"/>
                </linearGradient>
                <linearGradient id="paint1_linear_41_828" x1="618.882" y1="819.061" x2="19.7232" y2="933.196" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#29D9BB"/>
                  <stop offset="1" stop-color="#29D9BB" stop-opacity="0.5"/>
                </linearGradient>
                <linearGradient id="paint2_linear_41_828" x1="146.037" y1="1013.51" x2="789.894" y2="879.197" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#29D9BB"/>
                  <stop offset="1" stop-color="#29D9BB" stop-opacity="0.5"/>
                </linearGradient>
                <linearGradient id="paint3_linear_41_828" x1="311.142" y1="787.78" x2="-93.81" y2="1057.71" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#29D9BB"/>
                  <stop offset="1" stop-color="#29D9BB" stop-opacity="0.5"/>
                </linearGradient>
              </defs>
            </svg>
          </div>
          <div class="section-faq__avatar">
            <img
              src="img/avatar-2.jpg"
              loading="lazy"
              width="66"
              height="66"
              alt=""
              aria-hidden="true"
            >
          </div>
          <div class="form__col">
            <h2 class="h3-title form__title">Ask us a question</h2>
            <div class="form__desc">
              Fill in the form below and we will get back to you as soon as possible.
            </div>

            <div class="form__row">
              <div class="form__field">
                <div class="input-field-container">
                  <div class="input-field">
                    <input
                      id="email"
                      name="email"
                      type="email"
                      class="input input-field__input"
                    >
                    <label
                      class="floating-label"
                      for="email"
                    >
                      E-mail
                    </label>
                  </div>
                  <div class="input-field-helper-line">
                  </div>
                </div>
              </div>
            </div>
            <div class="form__row">
              <div class="form__field">
                <div class="input-field-container">
                  <div class="input-field textarea-field">
                <textarea
                  id="message"
                  name="message"
                  rows="4"
                  class="input input-field__input"
                ></textarea>
                    <div class="textarea-resize-icon"></div>
                    <label
                      class="floating-label"
                      for="message"
                    >
                      Text
                    </label>
                  </div>
                  <div class="input-field-helper-line"></div>
                </div>
              </div>
            </div>

            <div class="form__footer">
              <div class="form__submit">
                {{ button('Ask a question', 'button--fill', submit = true) }}
              </div>
              <div class="form__terms">
                By sending your details you agree to
                <a href="/privacy">
                  the privacy policy
                </a>
              </div>
            </div>
            <div
              class="form__hidden"
              data-modal="modal-accepted"
            ></div>
          </div>
        </form>
      </div>

      <div class="section-faq__list section-grey">
        <h2 class="section-title h2-title section-faq__title">FAQ</h2>
        <div class="accordion section-faq__accordion" role="tablist" aria-multiselectable="true">
          <div class="accordion-item is-active">
            <div role="tab" aria-expanded="true">
              <div class="accordion-item__header" role="button" tabindex="0">
                <div class="accordion-item__title">What is the proposed accounting system?</div>
                <div class="accordion-item__arrow">
                  {{ mixins.icon('plus') }}
                </div>
              </div>
            </div>
            <div class="accordion-item__wrap" role="tabpanel">
              <div class="accordion-item__content">
                We offer a modern and reliable system for online cash registers that ensures efficient goods accounting and&nbsp;helps you manage your business.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div role="tab" aria-expanded="true">
              <div class="accordion-item__header" role="button" tabindex="0">
                <div class="accordion-item__title">What is the proposed accounting system?</div>
                <div class="accordion-item__arrow">
                  {{ mixins.icon('plus') }}
                </div>
              </div>
            </div>
            <div class="accordion-item__wrap" role="tabpanel">
              <div class="accordion-item__content">
                We offer a modern and reliable system for online cash registers that ensures efficient goods accounting and&nbsp;helps you manage your business.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div role="tab" aria-expanded="true">
              <div class="accordion-item__header" role="button" tabindex="0">
                <div class="accordion-item__title">What is the proposed accounting system?</div>
                <div class="accordion-item__arrow">
                  {{ mixins.icon('plus') }}
                </div>
              </div>
            </div>
            <div class="accordion-item__wrap" role="tabpanel">
              <div class="accordion-item__content">
                We offer a modern and reliable system for online cash registers that ensures efficient goods accounting and&nbsp;helps you manage your business.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div role="tab" aria-expanded="true">
              <div class="accordion-item__header" role="button" tabindex="0">
                <div class="accordion-item__title">What is the proposed accounting system?</div>
                <div class="accordion-item__arrow">
                  {{ mixins.icon('plus') }}
                </div>
              </div>
            </div>
            <div class="accordion-item__wrap" role="tabpanel">
              <div class="accordion-item__content">
                We offer a modern and reliable system for online cash registers that ensures efficient goods accounting and&nbsp;helps you manage your business.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div role="tab" aria-expanded="true">
              <div class="accordion-item__header" role="button" tabindex="0">
                <div class="accordion-item__title">What is the proposed accounting system?</div>
                <div class="accordion-item__arrow">
                  {{ mixins.icon('plus') }}
                </div>
              </div>
            </div>
            <div class="accordion-item__wrap" role="tabpanel">
              <div class="accordion-item__content">
                We offer a modern and reliable system for online cash registers that ensures efficient goods accounting and&nbsp;helps you manage your business.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div role="tab" aria-expanded="true">
              <div class="accordion-item__header" role="button" tabindex="0">
                <div class="accordion-item__title">What is the proposed accounting system?</div>
                <div class="accordion-item__arrow">
                  {{ mixins.icon('plus') }}
                </div>
              </div>
            </div>
            <div class="accordion-item__wrap" role="tabpanel">
              <div class="accordion-item__content">
                We offer a modern and reliable system for online cash registers that ensures efficient goods accounting and&nbsp;helps you manage your business.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div role="tab" aria-expanded="true">
              <div class="accordion-item__header" role="button" tabindex="0">
                <div class="accordion-item__title">What is the proposed accounting system?</div>
                <div class="accordion-item__arrow">
                  {{ mixins.icon('plus') }}
                </div>
              </div>
            </div>
            <div class="accordion-item__wrap" role="tabpanel">
              <div class="accordion-item__content">
                We offer a modern and reliable system for online cash registers that ensures efficient goods accounting and&nbsp;helps you manage your business.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div role="tab" aria-expanded="true">
              <div class="accordion-item__header" role="button" tabindex="0">
                <div class="accordion-item__title">What is the proposed accounting system?</div>
                <div class="accordion-item__arrow">
                  {{ mixins.icon('plus') }}
                </div>
              </div>
            </div>
            <div class="accordion-item__wrap" role="tabpanel">
              <div class="accordion-item__content">
                We offer a modern and reliable system for online cash registers that ensures efficient goods accounting and&nbsp;helps you manage your business.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div role="tab" aria-expanded="true">
              <div class="accordion-item__header" role="button" tabindex="0">
                <div class="accordion-item__title">What is the proposed accounting system?</div>
                <div class="accordion-item__arrow">
                  {{ mixins.icon('plus') }}
                </div>
              </div>
            </div>
            <div class="accordion-item__wrap" role="tabpanel">
              <div class="accordion-item__content">
                We offer a modern and reliable system for online cash registers that ensures efficient goods accounting and&nbsp;helps you manage your business.
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
